@font-face {
	font-family:'Bliss2-Bold';
	src: url('Bliss2-BoldItalic_latin+latin-ext_gdi.eot');
	src: url('Bliss2-BoldItalic_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
		url('Bliss2-BoldItalic_latin+latin-ext_gdi.woff') format('woff'),
		url('Bliss2-BoldItalic_latin+latin-ext_gdi.ttf') format('truetype'),
		url('Bliss2-BoldItalic_latin+latin-ext_gdi.svg#Bliss2-BoldItalic') format('svg');
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-20AC;
}

@font-face {
	font-family:'Bliss2-Bold';
	src: url('Bliss2-Bold_latin+latin-ext_gdi.eot');
	src: url('Bliss2-Bold_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
		url('Bliss2-Bold_latin+latin-ext_gdi.woff') format('woff'),
		url('Bliss2-Bold_latin+latin-ext_gdi.ttf') format('truetype'),
		url('Bliss2-Bold_latin+latin-ext_gdi.svg#Bliss2-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-20AC;
}

@font-face {
	font-family:'CronosPro-BoldIt';
	src: url('CronosPro-BoldIt_latin+latin-ext_gdi.eot');
	src: url('CronosPro-BoldIt_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
		url('CronosPro-BoldIt_latin+latin-ext_gdi.woff') format('woff'),
		url('CronosPro-BoldIt_latin+latin-ext_gdi.ttf') format('truetype'),
		url('CronosPro-BoldIt_latin+latin-ext_gdi.svg#CronosPro-BoldIt') format('svg');
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-E0FF;
}