@import '../vars.less';

html{
	min-height: 100%;
	position:relative;
	body{
		&.body-painel-login{
			position:absolute;
			top:0;
			left:0;
			height: 100%;
			min-height: 100%;
			width:100%;
			min-width: 100%;
			.main-painel-login{
				.rgba(51,51,51,.15);
				overflow:hidden;
				min-height: 100%;
				.login{
					background:#fff;
					display:block;
					margin:50px auto 0 auto;			
					width:400px;
					border:2px #ccc solid;
					padding:15px;
					-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
					box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
					.arredondada(7px);
					h3{
						margin-top:0;
						padding-bottom:10px;
						margin-bottom:15px;
						border-bottom:1px #ccc solid;
					}
					.input-group{
						margin-bottom:15px;
					}
					.submit-placeholder{
						height: 34px;
						input[type="submit"]{
							float:right;
						}
						input[type="checkbox"]{
							vertical-align: -2px;
						}
						label{
							font-weight: normal;
						}
					}
				}
			}
		}
		&.body-painel{
			.main{
				.container{
					padding:0 0 50px 0;
					min-height:500px;
				}
			}
			footer{
				border-top:1px #ccc solid;
				padding-top:20px;
			}
			table{
				margin:30px 0;
				.crud-actions{
					width:140px;
					form{
						.inline;
					}
				}
				.move-actions{
					width: 74px;
				}
			}
			.add{
				.pad{
					padding:20px 0px;
					max-width: 1000px;
					.form-control{max-width:600px;}
				}
			}
			textarea{
				height:110px;
			}
		}
	}
}
