@import 'vars.less';

html{
	body{
		.intro{
			p{
				margin-bottom: 15px;
				.verdana(12px);
				color:@marinho;
				line-height: 170%;
				width: 270px;
				@media @mobile{
					padding-left:10px;
				}
				@media @tablet{
					width: 100%;
					box-sizing:border-box;
				}
			}
			.btn-voltar{
				color:@ciano;
				margin-top: 20px;
				.inline;
				.verdana(12px);
				.transition;
				&:active, &:visited{color:@ciano;}
				&:hover{color:@marinho;}
				@media @mobile{
					margin-left:5px;
				}
			}
		}
		.listaArea{
			a{
				display:block;
				margin-bottom: 5px;
				border:1px @ciano solid;
				padding:10px 10px 15px 10px;
				position: relative;
				&.area-index-texto{ background:url('../images/layout/icone-visualizar.png') 641px 10px no-repeat; }
				&.area-index-arquivo{ background:url('../images/layout/icone-download.png') 641px 10px no-repeat; }
				.overlay{
					position: absolute;
					top:0;
					left:0;
					width:100%;
					height: 100%;
					display: block;
					background: @ciano;
					color:#fff;
					width: 100%;
					height: 100%;
					opacity: 0;
					.bliss(24px);
					.transition;
					.pad{
						padding:10px 0 0 15px;
					}
				}
				&:hover{
					.overlay{
						opacity:1;
					}
				}
				h2{
					color:@ciano;
					.cronos(24px);
					margin:7px 0 6px 0;
				}
				p{
					.verdana(12px);
					color:@marinho;					
				}
			}
		}
		.texto{
			@media @mobile{
				margin-top:15px;
			}
			border:1px @ciano solid;
			padding:20px;
			h2{
				.cronos(24px);
				color:@ciano;
				margin-bottom:15px;
			}
			a{
				padding-top: 5px;
				padding-bottom: 7px;
				display: block;
				border-bottom: 1px @ciano solid;
				color:@marinho;
				span{
					.transition;
					.verdana(14px, bold);
					padding-bottom: 5px;
					color:@marinho;
				}
				&:hover{
					span{
						color:@ciano;
					}
				}
				&:active, &:visited{color:@marinho;}
				.transition;
				.descricao{
					.transition;
					display:none;
					padding-top: 5px;
					padding-bottom: 10px;
					color:@marinho;
					line-height: 140%;
					.verdana(12px);
				}
			}
		}
	}
}
