@import url('http://fonts.googleapis.com/css?family=Overlock:700italic');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .hide-tablet {
    display: none !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .hide-mobile {
    display: none !important;
  }
}
html body .intro p {
  margin-bottom: 15px;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #00587a;
  line-height: 170%;
  width: 270px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .intro p {
    padding-left: 10px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  html body .intro p {
    width: 100%;
    box-sizing: border-box;
  }
}
html body .intro .btn-voltar {
  color: #4ecbdc;
  margin-top: 20px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .intro .btn-voltar:active,
html body .intro .btn-voltar:visited {
  color: #4ecbdc;
}
html body .intro .btn-voltar:hover {
  color: #00587a;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .intro .btn-voltar {
    margin-left: 5px;
  }
}
html body .listaArea a {
  display: block;
  margin-bottom: 5px;
  border: 1px #4ecbdc solid;
  padding: 10px 10px 15px 10px;
  position: relative;
}
html body .listaArea a.area-index-texto {
  background: url('../images/layout/icone-visualizar.png') 641px 10px no-repeat;
}
html body .listaArea a.area-index-arquivo {
  background: url('../images/layout/icone-download.png') 641px 10px no-repeat;
}
html body .listaArea a .overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #4ecbdc;
  color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-family: 'Bliss2-Bold', 'Verdana', sans-serif;
  font-size: 24px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .listaArea a .overlay .pad {
  padding: 10px 0 0 15px;
}
html body .listaArea a:hover .overlay {
  opacity: 1;
}
html body .listaArea a h2 {
  color: #4ecbdc;
  font-family: 'Overlock', cursive;
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  margin: 7px 0 6px 0;
}
html body .listaArea a p {
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #00587a;
}
html body .texto {
  border: 1px #4ecbdc solid;
  padding: 20px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .texto {
    margin-top: 15px;
  }
}
html body .texto h2 {
  font-family: 'Overlock', cursive;
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  color: #4ecbdc;
  margin-bottom: 15px;
}
html body .texto a {
  padding-top: 5px;
  padding-bottom: 7px;
  display: block;
  border-bottom: 1px #4ecbdc solid;
  color: #00587a;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .texto a span {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
  color: #00587a;
}
html body .texto a:hover span {
  color: #4ecbdc;
}
html body .texto a:active,
html body .texto a:visited {
  color: #00587a;
}
html body .texto a .descricao {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: none;
  padding-top: 5px;
  padding-bottom: 10px;
  color: #00587a;
  line-height: 140%;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
