@import 'vars.less';

h1#pagenotfound{
	display:block;
	text-align: center;
	margin:60px 0;
	.cronos(30px);
	color:@marinho;
}

body{
	background:#fff;
	.centro.topo{
		.centralizar;
		border-top:3px @ciano solid;
		header{
			@media @mobile{
				padding-top:30px;
			}
			@media @tablet{
			 	padding-top:30px;
			}
			@media @desktop{
				padding-top:40px;
			}
			padding-bottom:30px;
			#link-home{
				width:174px;
				height:51px;
				.inline;
				@media @mobile{
				 	width:105px;
				 	height:30px;
				 	margin-left:10px;
				}
				@media @tablet{
				 	display:block;
				 	margin-bottom: 30px;
				}
				img{
					width:100%;
					height:100%;
				}
			}
			nav{
				.inline;
				padding-top:5px;
				@media @mobile{
					margin-left:10px;
					margin-top:15px;
				}
				@media @tablet{
					width:545px;
				 	margin-left:0px;
				}
				@media @desktop{
					width:545px;
					margin-left:50px;
				}
				font-size:0;
				ul.menu-superior{
					display:block;
					width:100%;
					border-bottom:2px @ciano solid;
					margin:0;
					padding-bottom:8px;
					@media @mobile{
						border:0;
						width:auto;
						padding:0;
						.inline;
					}
					li{
						.inline;
						@media @mobile{
							display:block;
							height: 18px;
							line-height: 18px;
						}
						a{
							line-height:100%;
							display:block;
							text-decoration: none;
							.bliss(12px);
							color:@marinho;
							&:active, &:visited{color:@marinho;}
							&:before{
								content:"·";
								.inline;
								margin:0 5px;
								color:@azulClaro;
								@media @mobile{
									display:none;
								}
							}
							&:hover span, &.ativo span{
								background:@azulClaro;
							}
							span{
								padding:2px;
								.transition;
								background:#fff
							}
						}
						@media @tablet_e_desktop{
							&:first-child a{
								padding-left:2px;
								&:before{display:none;}
							}
						}
					}
				}
				ul.menu-inferior{
					display:block;
					margin:0;
					padding-top:10px;
					@media @mobile{
						width:auto;
						padding:0;
						.inline;
						margin-left:15px;
					}
					li{
						.inline;
						@media @mobile{
							display:block;
							height: 18px;
							line-height: 18px;
						}
						a{
							line-height:100%;
							display:block;
							text-decoration: none;
							.bliss(14px);
							color:@marinho;
							@media @mobile{
								font-size: 12px;
							}
							.transition;
							&:before{
								content:"·";
								.inline;
								margin:0 5px;
								color:@azulClaro;
								@media @mobile{
									display:none;
								}
							}
							&:hover span, &.ativo span{
								background:@azulClaro;
							}
							span{
								padding:2px;
								.transition;
								background:#fff
							}
						}
						@media @tablet_e_desktop{
							&:first-child a{
								padding-left:3px;
								&:before{display:none;}
							}
						}
					}
				}
			}
			#header-contato{
				.inline;
				max-width:108px;
				margin-left:80px;
				overflow:hidden;
				@media @mobile{
					max-width:100%;
					margin-left:0px;
					display:block;
					border-top:2px @azulClaro solid;
					margin-top:6px;
					padding-top:5px;
				}
				.telefone{
					@media @mobile{
						.inline;
						padding-left:10px;
						vertical-align: 1px;
						margin-right:10px;
					}
					.bliss(11px);
					color:@marinho;
					margin-bottom:3px;
				}
				.email-link-topo{
					text-indent:1000px;
					.inline;
					width:16px;
					height:16px;
					overflow:hidden;
					background:url('../images/layout/icone-email.png') center top no-repeat;
					.transition;
					&:hover{background:url('../images/layout/icone-email.png') center -16px no-repeat;}
				}
				.facebook-link{
					text-indent:1000px;
					.inline;
					width:16px;
					height:16px;
					overflow:hidden;
					background:url('../images/layout/icone-facebook.png') center top no-repeat;
					.transition;
					&:hover{background:url('../images/layout/icone-facebook.png') center -16px no-repeat;}
				}
				.twitter-link{
					text-indent:1000px;
					.inline;
					width:16px;
					height:16px;
					overflow:hidden;
					background:url('../images/layout/icone-twitter.png') center top no-repeat;
					.transition;
					&:hover{background:url('../images/layout/icone-twitter.png') center -16px no-repeat;}
				}
			}
			&.outras-linguas{
				nav{
					ul.menu-superior{
						padding: 15px 0 0 0;
						border-bottom: none;
					}
				}
			}
		}
	}
	.main{
		border-top:4px @ciano solid;
		&.main-home{
			border-top:0;
		}
		padding-top:25px;
		@media @mobile{
			min-height: 100px;
			padding:0 !important;
			border:0;
		}
		@media @desktop{
			min-height: 500px;
		}
		.centro{
			.centralizar;
			.page-title{
				.cronos(32px);
				color:@marinho;
				margin-bottom:20px;
				@media @mobile{
					padding-left:10px;
				}
			}
			.cke{
				font-family: 'Verdana', sans-serif;
				h1{
					@media @mobile{
						padding-left:10px;
					}
				}
				p{
					margin-bottom:20px;
					line-height:140%;
					font-size:14px;
					@media @mobile{
						padding-left:10px;
					}
				}
				ul{
					list-style:outside;
					padding-left:15px;
					li{
						margin-bottom:20px;
					}
				}
				strong{
					font-weight: bold;
				}
				img{
					display:block;
					margin:10px auto;
					max-width: 100%;
				}
			}
			.texto-outras-linguas{
				h1{
					.cronos(32px);
					color:@marinho;
					margin-bottom:20px;
					@media @mobile{
						padding-left:10px;
					}
				}
				p{
					color:@marinho;
					max-width: 90%;
					.verdana(12px);
				}
				img{
					max-width: 100%;
					&.img-left{
						display: block;
						margin: 10px 0;
					}
				}
			}
		}
	}
	footer{
		background:#6B7D87;
		padding:13px  0 30px 0;
		margin-top:37px;
		.centro{
			.centralizar;
			position:relative;
			#footer-contato{
				@media @mobile{
					margin-left:10px;
				}
				#scroll-topo{
					.inline;
					color:#fff;
					margin-bottom: 20px;
					text-decoration: none;
					padding:5px 10px 5px 18px;
					background:url('../images/layout/setinha-topo.png') @azulClaro 3px center no-repeat;
					.arredondada(7px);
					@media @tablet_e_desktop{
						display:none;
					}
				}
				.verdana(11px);
				color:#fff;
				line-height:170%;
				.telefone{
					font-weight: bold;
					margin-bottom:20px;
				}
				.endereco{}
			}
			#assinatura{
				@media @tablet_e_desktop{
					position:absolute;
					right:0;
					top:0;
					margin-top:0px;
				}
				@media @mobile{
					margin-top:30px;
				}
				text-align:right;
				line-height: 140%;
				.verdana(10px);
				color:#fff;
				a{
					display:block;
					text-decoration:none;
					margin-top:20px;
					color:#fff;
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover{color:@azulClaro;}
					img{width:15px;height:15px;}
				}
			}
		}
	}
}

p:empty
{
display:none;
margin:0;
}