@import url('http://fonts.googleapis.com/css?family=Overlock:700italic');
.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top}
.aviso{color:#9f6000;background-color:#feefb3;border:2px #9f6000 solid}
.sucesso{border:2px #c6d880 solid;background-color:#e6efc2;color:#264409}
.falha{border:2px #d8000c solid;color:#d8000c;background-color:#ffbaba}
.offscreen{display:block;text-indent:-999999999px}
.clear{clear:both}
.escondido{display:none}
@media only screen and (min-width: 1024px){.hide-desktop{display:none !important}}
@media only screen and (min-width: 481px) and (max-width: 1023px){.hide-tablet{display:none !important}}
@media only screen and (min-width: 0px) and (max-width: 480px){.hide-mobile{display:none !important}}
h1#pagenotfound{display:block;text-align:center;margin:60px 0;font-family:'Overlock',cursive;font-size:30px;font-weight:normal;font-style:italic;color:#00587a}
body{background:#fff}body .centro.topo{width:100%;padding:0 !important;margin:0 auto;border-top:3px #4ecbdc solid}@media only screen and (min-width: 0px) and (max-width: 480px){body .centro.topo{max-width:400px}}@media only screen and (min-width: 481px) and (max-width: 1023px){body .centro.topo{max-width:740px}}@media only screen and (min-width: 1024px){body .centro.topo{max-width:980px}}body .centro.topo header{padding-bottom:30px}@media only screen and (min-width: 0px) and (max-width: 480px){body .centro.topo header{padding-top:30px}}@media only screen and (min-width: 481px) and (max-width: 1023px){body .centro.topo header{padding-top:30px}}@media only screen and (min-width: 1024px){body .centro.topo header{padding-top:40px}}body .centro.topo header #link-home{width:174px;height:51px;display:inline-block;*display:inline;zoom:1;vertical-align:top}@media only screen and (min-width: 0px) and (max-width: 480px){body .centro.topo header #link-home{width:105px;height:30px;margin-left:10px}}@media only screen and (min-width: 481px) and (max-width: 1023px){body .centro.topo header #link-home{display:block;margin-bottom:30px}}body .centro.topo header #link-home img{width:100%;height:100%}
body .centro.topo header nav{display:inline-block;*display:inline;zoom:1;vertical-align:top;padding-top:5px;font-size:0}@media only screen and (min-width: 0px) and (max-width: 480px){body .centro.topo header nav{margin-left:10px;margin-top:15px}}@media only screen and (min-width: 481px) and (max-width: 1023px){body .centro.topo header nav{width:545px;margin-left:0}}@media only screen and (min-width: 1024px){body .centro.topo header nav{width:545px;margin-left:50px}}body .centro.topo header nav ul.menu-superior{display:block;width:100%;border-bottom:2px #4ecbdc solid;margin:0;padding-bottom:8px}@media only screen and (min-width: 0px) and (max-width: 480px){body .centro.topo header nav ul.menu-superior{border:0;width:auto;padding:0;display:inline-block;*display:inline;zoom:1;vertical-align:top}}body .centro.topo header nav ul.menu-superior li{display:inline-block;*display:inline;zoom:1;vertical-align:top}@media only screen and (min-width: 0px) and (max-width: 480px){body .centro.topo header nav ul.menu-superior li{display:block;height:18px;line-height:18px}}body .centro.topo header nav ul.menu-superior li a{line-height:100%;display:block;text-decoration:none;font-family:'Bliss2-Bold','Verdana',sans-serif;font-size:12px;font-weight:normal;color:#00587a}body .centro.topo header nav ul.menu-superior li a:active,body .centro.topo header nav ul.menu-superior li a:visited{color:#00587a}
body .centro.topo header nav ul.menu-superior li a:before{content:"·";display:inline-block;*display:inline;zoom:1;vertical-align:top;margin:0 5px;color:#a6e5ee}@media only screen and (min-width: 0px) and (max-width: 480px){body .centro.topo header nav ul.menu-superior li a:before{display:none}}
body .centro.topo header nav ul.menu-superior li a:hover span,body .centro.topo header nav ul.menu-superior li a.ativo span{background:#a6e5ee}
body .centro.topo header nav ul.menu-superior li a span{padding:2px;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;background:#fff}
@media only screen and (min-width: 481px){body .centro.topo header nav ul.menu-superior li:first-child a{padding-left:2px}body .centro.topo header nav ul.menu-superior li:first-child a:before{display:none}}
body .centro.topo header nav ul.menu-inferior{display:block;margin:0;padding-top:10px}@media only screen and (min-width: 0px) and (max-width: 480px){body .centro.topo header nav ul.menu-inferior{width:auto;padding:0;display:inline-block;*display:inline;zoom:1;vertical-align:top;margin-left:15px}}body .centro.topo header nav ul.menu-inferior li{display:inline-block;*display:inline;zoom:1;vertical-align:top}@media only screen and (min-width: 0px) and (max-width: 480px){body .centro.topo header nav ul.menu-inferior li{display:block;height:18px;line-height:18px}}body .centro.topo header nav ul.menu-inferior li a{line-height:100%;display:block;text-decoration:none;font-family:'Bliss2-Bold','Verdana',sans-serif;font-size:14px;font-weight:normal;color:#00587a;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}@media only screen and (min-width: 0px) and (max-width: 480px){body .centro.topo header nav ul.menu-inferior li a{font-size:12px}}body .centro.topo header nav ul.menu-inferior li a:before{content:"·";display:inline-block;*display:inline;zoom:1;vertical-align:top;margin:0 5px;color:#a6e5ee}@media only screen and (min-width: 0px) and (max-width: 480px){body .centro.topo header nav ul.menu-inferior li a:before{display:none}}
body .centro.topo header nav ul.menu-inferior li a:hover span,body .centro.topo header nav ul.menu-inferior li a.ativo span{background:#a6e5ee}
body .centro.topo header nav ul.menu-inferior li a span{padding:2px;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;background:#fff}
@media only screen and (min-width: 481px){body .centro.topo header nav ul.menu-inferior li:first-child a{padding-left:3px}body .centro.topo header nav ul.menu-inferior li:first-child a:before{display:none}}
body .centro.topo header #header-contato{display:inline-block;*display:inline;zoom:1;vertical-align:top;max-width:108px;margin-left:80px;overflow:hidden}@media only screen and (min-width: 0px) and (max-width: 480px){body .centro.topo header #header-contato{max-width:100%;margin-left:0;display:block;border-top:2px #a6e5ee solid;margin-top:6px;padding-top:5px}}body .centro.topo header #header-contato .telefone{font-family:'Bliss2-Bold','Verdana',sans-serif;font-size:11px;font-weight:normal;color:#00587a;margin-bottom:3px}@media only screen and (min-width: 0px) and (max-width: 480px){body .centro.topo header #header-contato .telefone{display:inline-block;*display:inline;zoom:1;vertical-align:top;padding-left:10px;vertical-align:1px;margin-right:10px}}
body .centro.topo header #header-contato .email-link-topo{text-indent:1000px;display:inline-block;*display:inline;zoom:1;vertical-align:top;width:16px;height:16px;overflow:hidden;background:url('../images/layout/icone-email.png') center top no-repeat;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}body .centro.topo header #header-contato .email-link-topo:hover{background:url('../images/layout/icone-email.png') center -16px no-repeat}
body .centro.topo header #header-contato .facebook-link{text-indent:1000px;display:inline-block;*display:inline;zoom:1;vertical-align:top;width:16px;height:16px;overflow:hidden;background:url('../images/layout/icone-facebook.png') center top no-repeat;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}body .centro.topo header #header-contato .facebook-link:hover{background:url('../images/layout/icone-facebook.png') center -16px no-repeat}
body .centro.topo header #header-contato .twitter-link{text-indent:1000px;display:inline-block;*display:inline;zoom:1;vertical-align:top;width:16px;height:16px;overflow:hidden;background:url('../images/layout/icone-twitter.png') center top no-repeat;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}body .centro.topo header #header-contato .twitter-link:hover{background:url('../images/layout/icone-twitter.png') center -16px no-repeat}
body .centro.topo header.outras-linguas nav ul.menu-superior{padding:15px 0 0 0;border-bottom:none}
body .main{border-top:4px #4ecbdc solid;padding-top:25px}body .main.main-home{border-top:0}
@media only screen and (min-width: 0px) and (max-width: 480px){body .main{min-height:100px;padding:0 !important;border:0}}@media only screen and (min-width: 1024px){body .main{min-height:500px}}body .main .centro{width:100%;padding:0 !important;margin:0 auto}@media only screen and (min-width: 0px) and (max-width: 480px){body .main .centro{max-width:400px}}@media only screen and (min-width: 481px) and (max-width: 1023px){body .main .centro{max-width:740px}}@media only screen and (min-width: 1024px){body .main .centro{max-width:980px}}body .main .centro .page-title{font-family:'Overlock',cursive;font-size:32px;font-weight:normal;font-style:italic;color:#00587a;margin-bottom:20px}@media only screen and (min-width: 0px) and (max-width: 480px){body .main .centro .page-title{padding-left:10px}}
body .main .centro .cke{font-family:'Verdana',sans-serif}@media only screen and (min-width: 0px) and (max-width: 480px){body .main .centro .cke h1{padding-left:10px}}
body .main .centro .cke p{margin-bottom:20px;line-height:140%;font-size:14px}@media only screen and (min-width: 0px) and (max-width: 480px){body .main .centro .cke p{padding-left:10px}}
body .main .centro .cke ul{list-style:outside;padding-left:15px}body .main .centro .cke ul li{margin-bottom:20px}
body .main .centro .cke strong{font-weight:bold}
body .main .centro .cke img{display:block;margin:10px auto;max-width:100%}
body .main .centro .texto-outras-linguas h1{font-family:'Overlock',cursive;font-size:32px;font-weight:normal;font-style:italic;color:#00587a;margin-bottom:20px}@media only screen and (min-width: 0px) and (max-width: 480px){body .main .centro .texto-outras-linguas h1{padding-left:10px}}
body .main .centro .texto-outras-linguas p{color:#00587a;max-width:90%;font-family:'Verdana',sans-serif;font-size:12px;font-weight:normal}
body .main .centro .texto-outras-linguas img{max-width:100%}body .main .centro .texto-outras-linguas img.img-left{display:block;margin:10px 0}
body footer{background:#6b7d87;padding:13px 0 30px 0;margin-top:37px}body footer .centro{width:100%;padding:0 !important;margin:0 auto;position:relative}@media only screen and (min-width: 0px) and (max-width: 480px){body footer .centro{max-width:400px}}@media only screen and (min-width: 481px) and (max-width: 1023px){body footer .centro{max-width:740px}}@media only screen and (min-width: 1024px){body footer .centro{max-width:980px}}body footer .centro #footer-contato{font-family:'Verdana',sans-serif;font-size:11px;font-weight:normal;color:#fff;line-height:170%}@media only screen and (min-width: 0px) and (max-width: 480px){body footer .centro #footer-contato{margin-left:10px}}body footer .centro #footer-contato #scroll-topo{display:inline-block;*display:inline;zoom:1;vertical-align:top;color:#fff;margin-bottom:20px;text-decoration:none;padding:5px 10px 5px 18px;background:url('../images/layout/setinha-topo.png') #a6e5ee 3px center no-repeat;-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;behavior:url('PIE.htc')}@media only screen and (min-width: 481px){body footer .centro #footer-contato #scroll-topo{display:none}}
body footer .centro #footer-contato .telefone{font-weight:bold;margin-bottom:20px}
body footer .centro #assinatura{text-align:right;line-height:140%;font-family:'Verdana',sans-serif;font-size:10px;font-weight:normal;color:#fff}@media only screen and (min-width: 481px){body footer .centro #assinatura{position:absolute;right:0;top:0;margin-top:0}}@media only screen and (min-width: 0px) and (max-width: 480px){body footer .centro #assinatura{margin-top:30px}}body footer .centro #assinatura a{display:block;text-decoration:none;margin-top:20px;color:#fff;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}body footer .centro #assinatura a:active,body footer .centro #assinatura a:visited{color:#fff}
body footer .centro #assinatura a:hover{color:#a6e5ee}
body footer .centro #assinatura a img{width:15px;height:15px}
p:empty{display:none;margin:0}
