@import 'vars.less';

html{
	body{
		.listaCertificacoes{
			@media @mobile{ background:none; }
			@media @tablet{ background:none; }
			@media @desktop{ background:url('./colors/color_r166_g229_b238_a38.png') right top repeat-y; }
			&.outras-linguas{
				.cke{
					font-family: 'Verdana', sans-serif;
					font-size: 11px;
					color: @marinho;
					line-height: 19px;
				}
			}
			.certificacao{
				@media @mobile{ background:none; }
				@media @tablet{
					background:none;
					width:100% !important;
					display:block !important;
					padding:20px 0;
					margin-bottom:20px;
					border-bottom: 1px @ciano solid;
				}
				@media @desktop{ background:url('./colors/color_r166_g229_b238_a38.png') left top repeat-y; }
				.pad{
					padding:0 15px;
					.imagem{
						height:160px;
						margin-bottom:10px;
						@media @tablet{
							float:left;
							width:30%;
						}
						img{
							margin:0 auto;
							display:block;
							max-height:160px;
						}
					}
					@media @mobile{
						p{ padding-left:10px; }
					}
				}
				@media @mobile{
					border-bottom: 1px @ciano solid;
					padding-bottom: 10px;
					margin-bottom: 10px;
					.imagem{
						height:auto !important;
					}
				}
			}
		}
	}
}
