@import url('http://fonts.googleapis.com/css?family=Overlock:700italic');
.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top}
.aviso{color:#9f6000;background-color:#feefb3;border:2px #9f6000 solid}
.sucesso{border:2px #c6d880 solid;background-color:#e6efc2;color:#264409}
.falha{border:2px #d8000c solid;color:#d8000c;background-color:#ffbaba}
.offscreen{display:block;text-indent:-999999999px}
.clear{clear:both}
.escondido{display:none}
@media only screen and (min-width: 1024px){.hide-desktop{display:none !important}}
@media only screen and (min-width: 481px) and (max-width: 1023px){.hide-tablet{display:none !important}}
@media only screen and (min-width: 0px) and (max-width: 480px){.hide-mobile{display:none !important}}
@media only screen and (min-width: 0px) and (max-width: 480px){html body .listaCertificacoes{background:none}}@media only screen and (min-width: 481px) and (max-width: 1023px){html body .listaCertificacoes{background:none}}@media only screen and (min-width: 1024px){html body .listaCertificacoes{background:url('./colors/color_r166_g229_b238_a38.png') right top repeat-y}}html body .listaCertificacoes.outras-linguas .cke{font-family:'Verdana',sans-serif;font-size:11px;color:#00587a;line-height:19px}
@media only screen and (min-width: 0px) and (max-width: 480px){html body .listaCertificacoes .certificacao{background:none}}@media only screen and (min-width: 481px) and (max-width: 1023px){html body .listaCertificacoes .certificacao{background:none;width:100% !important;display:block !important;padding:20px 0;margin-bottom:20px;border-bottom:1px #4ecbdc solid}}@media only screen and (min-width: 1024px){html body .listaCertificacoes .certificacao{background:url('./colors/color_r166_g229_b238_a38.png') left top repeat-y}}html body .listaCertificacoes .certificacao .pad{padding:0 15px}html body .listaCertificacoes .certificacao .pad .imagem{height:160px;margin-bottom:10px}@media only screen and (min-width: 481px) and (max-width: 1023px){html body .listaCertificacoes .certificacao .pad .imagem{float:left;width:30%}}html body .listaCertificacoes .certificacao .pad .imagem img{margin:0 auto;display:block;max-height:160px}
@media only screen and (min-width: 0px) and (max-width: 480px){html body .listaCertificacoes .certificacao .pad p{padding-left:10px}}
@media only screen and (min-width: 0px) and (max-width: 480px){html body .listaCertificacoes .certificacao{border-bottom:1px #4ecbdc solid;padding-bottom:10px;margin-bottom:10px}html body .listaCertificacoes .certificacao .imagem{height:auto !important}}
