@import url('http://fonts.googleapis.com/css?family=Overlock:700italic');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .hide-tablet {
    display: none !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .hide-mobile {
    display: none !important;
  }
}
html body .main {
  padding-bottom: 70px;
}
html body h2 {
  color: #4ecbdc;
  font-family: 'Overlock', cursive;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body h2 {
    padding-left: 10px;
  }
}
html body .email-link {
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #00587a;
  padding: 2px 2px;
  background: #fff;
  margin-top: 15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .email-link:active,
html body .email-link:visited {
  color: #00587a;
}
html body .email-link:hover {
  background: #a6e5ee;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .email-link {
    padding-left: 10px;
  }
}
html body form {
  margin-top: 60px;
  width: 400px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body form {
    max-width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
    padding: 0 10px;
  }
  html body form * {
    max-width: 100%;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  html body form {
    max-width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
    padding: 0 10px;
  }
  html body form * {
    max-width: 100%;
    box-sizing: border-box;
  }
}
html body form .success {
  display: block;
  text-align: center;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding: 10px;
  background: #dff0d8;
  margin-bottom: 10px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  behavior: url('PIE.htc');
}
html body form label {
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #00587a;
  margin-bottom: 10px;
  display: block;
}
html body form label span {
  padding-left: 10px;
}
html body form label input[type="text"],
html body form label input[type="email"] {
  width: 390px;
  margin-top: 5px;
  display: block;
  border: 0;
  background: #CAF0F5;
  color: #00587a;
  padding: 4px 5px;
  height: 20px;
  line-height: 20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  behavior: url('PIE.htc');
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html body form label textarea {
  resize: none;
  height: 152px;
  width: 390px;
  margin-top: 5px;
  display: block;
  border: 0;
  background: #CAF0F5;
  color: #00587a;
  padding: 4px 5px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  behavior: url('PIE.htc');
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html body form input[type="submit"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-top: 35px;
  height: 50px;
  line-height: 50px;
  border: 1px #4ecbdc solid;
  color: #4ecbdc;
  padding: 0 30px;
  background: #fff;
  cursor: pointer;
  font-family: 'Bliss2-Bold', 'Verdana', sans-serif;
  font-size: 20px;
  font-weight: normal;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  behavior: url('PIE.htc');
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body form input[type="submit"] {
    margin-top: 0;
  }
}
html body form input[type="submit"]:hover {
  background: #00587a;
}
html body .pad .endereco {
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #00587a;
  line-height: 140%;
  margin-bottom: 20px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .pad .endereco {
    padding-left: 10px;
    margin-top: 30px;
  }
}
