@import 'vars.less';

html{
	body{
		.main{padding-bottom: 70px;}
		h2{
			color:@ciano;
			.cronos(24px, bold);
			@media @mobile{
				padding-left:10px;
			}
		}
		.email-link{
			.verdana(12px);
			color:@marinho;
			padding:2px 2px;
			background:#fff;
			margin-top:15px;
			.inline;
			.transition;
			&:active, &:visited{color:@marinho;}
			&:hover{
				background:@azulClaro;
			}
			@media @mobile{
				padding-left:10px;
			}
		}
		form{
			margin-top:60px;
			width:400px;
			@media @mobile{
				max-width: 100%;
				margin-top:30px;
				box-sizing: border-box;
				padding:0 10px;
				*{
					max-width: 100%;
					box-sizing: border-box;
				}
			}
			@media @tablet{
				max-width: 100%;
				margin-top:30px;
				box-sizing: border-box;
				padding:0 10px;
				*{
					max-width: 100%;
					box-sizing: border-box;
				}
			}
			.success{
				display:block;
				text-align: center;
				.verdana(12px);
				padding:10px;
				background:#dff0d8;
				margin-bottom: 10px;
				.arredondada(7px);
			}
			label{
				.verdana(12px);
				color:@marinho;
				margin-bottom: 10px;
				display:block;
				span{
					padding-left:10px;
				}
				input[type="text"],
				input[type="email"]{
					width:390px;
					margin-top:5px;
					display:block;
					border:0;
					background:#CAF0F5;
					color:@marinho;
					padding:4px 5px;
					height: 20px;
					line-height: 20px;
					.arredondada(7px);
					.verdana(12px);
				}
				textarea{
					resize:none;
					height: 152px;
					width:390px;
					margin-top:5px;
					display:block;
					border:0;
					background:#CAF0F5;
					color:@marinho;
					padding:4px 5px;
					.arredondada(7px);
					.verdana(12px);
				}
			}
			input[type="submit"]{
				.inline;
				margin-top:35px;
				@media @mobile{
					margin-top:0;
				}
				height:50px;
				line-height:50px;
				border:1px @ciano solid;
				color:@ciano;
				padding:0 30px;
				background:#fff;
				cursor:pointer;
				.bliss(20px);
				.arredondada(7px);
				.transition;
				&:hover{
					background:@marinho;
				}
			}
		}
		.pad{
			.endereco{
				@media @mobile{
					padding-left:10px;
					margin-top:30px;
				}
				.verdana(14px);
				color:@marinho;
				line-height: 140%;
				margin-bottom: 20px;
			}
		}
	}
}