@import 'vars.less';
html{
	body{
		#banners{
			font-size: 0;
			#ampliadas{
				width:810px;
				height:510px;
				overflow: hidden;
				position:relative;
				z-index:9999;
				.inline;
				.banner{
					display:block;
					width:810px;
					height:510px;
					position:absolute;
					top:0;
					left:0;
					opacity:0;
					&.aberto{
						.transition(all, .6s, ease-in);
						opacity:1;
					}
					&:hover{
						.texto h1{color:@ciano;}						
					}
					img{
						width:808px;
						height:508px;
						position:absolute;
						top:0;	
						left:0;
						z-index: 0;
						border:1px @ciano solid;
					}
					.texto{
						width:380px;
						height:300px;
						position:absolute;
						bottom:0;	
						left:0;
						z-index: 1;
						text-align: right;
						h1{
							.transition;
							color:#fff;
							.cronos(32px);
							margin-bottom:15px;
						}
						p{
							.transition;
							line-height: 140%;
							padding-left: 80px;
							width:300px;
							.verdana(12px);
							color:#fff;
						}
					}
				}
			}
			#thumbs{
				z-index:1;
				.inline;
				width:170px;
				height:510px;
				margin-left:-1px;
				position:relative;
				.thumb{
					display:block;
					border: 1px @ciano solid;
					width:168px;
					height:168px;
					position:relative;
					margin-left:0;
					.superTransition;
					img{
						position: absolute;
						top:0;
						left:0;
						z-index:0;
						width:168px;
						height:168px;
						@media @mobile{
							max-width:100%;
						}
					}
					.texto{
						position: absolute;
						top:0;
						left:0;
						z-index:1;
						padding-top:67px;
						padding-left: 20px;
						.cronos(24px);
						color:#fff;
						.transition;
					}
					&:hover{
						.texto{
							color:@ciano; 
						}
					}
					&.aberto{
						margin-left:-170px;						
					}
					&.suma{
						display:none;
						position: absolute;
					}
				}
			}
		}
		#banners-tablet{
			font-size: 0;
			#ampliadas{
				// de 980 foi para 740
				width:810px * 0.7552;
				height:510px * 0.7552;
				overflow: hidden;
				position:relative;
				z-index:9999;
				.inline;
				.banner{
					display:block;
					width:810px * 0.7552;
					height:510px * 0.7552;
					position:absolute;
					top:0;
					left:0;
					opacity:0;
					&.aberto{
						.transition(all, .6s, ease-in);
						opacity:1;
					}
					&:hover{
						.texto h1{color:@ciano;}						
					}
					img{
						width:808px * 0.7552;
						height:508px * 0.7552;
						position:absolute;
						top:0;	
						left:0;
						z-index: 0;
						border:1px @ciano solid;
					}
					.texto{
						width:380px * 0.7552;
						height:300px * 0.7552;
						position:absolute;
						bottom:0;	
						left:0;
						z-index: 1;
						text-align: right;
						h1{
							.transition;
							color:#fff;
							.cronos(32px);
							margin-bottom:15px;
						}
						p{
							.transition;
							line-height: 140%;
							padding-left: 80px;
							width:300px;
							.verdana(12px);
							color:#fff;
						}
					}
				}
			}
			#thumbs{
				z-index:1;
				.inline;
				width:170px * 0.7552;
				height:510px * 0.7552;
				margin-left:-1px;
				position:relative;
				.thumb{
					display:block;
					border: 1px @ciano solid;
					width:168px * 0.7552;
					height:168px * 0.7552;
					position:relative;
					margin-left:0;
					.superTransition;
					img{
						position: absolute;
						top:0;
						left:0;
						z-index:0;
						width:168px * 0.7552;
						height:168px * 0.7552;
						@media @mobile{
							max-width:100%;
						}
					}
					.texto{
						position: absolute;
						top:0;
						left:0;
						z-index:1;
						padding-top:67px;
						padding-left: 20px;
						.cronos(24px);
						color:#fff;
						.transition;
					}
					&:hover{
						.texto{
							color:@ciano; 
						}
					}
					&.aberto{
						margin-left:-170px;						
					}
					&.suma{
						display:none;
						position: absolute;
					}
				}
			}
		}
		#banner-mobile{
			margin-bottom: 10px;
			a{
				display:block;
				position:relative;
				img{
					max-width: 100%;
					border:1px @ciano solid;
				}				
				.texto{
					width:100%;
					padding-top:40%;
					color:#fff;
					.cronos(16px);
					position:absolute;
					top:0;
					left:0;
					z-index: 9;
					h1{padding-left: 10px;}
				}
			}
		}
		#chamadas{
			.chamada{
				height:190px;
				margin-top:25px;
				&:nth-child(2){
					a{
						width:96%;
						margin:0 auto;
					}
				}
				a{
					height:100%;
					overflow:hidden;
					box-sizing: border-box;
					text-decoration:none;
					padding:10px 20px;
					display:block;
					border:1px @ciano solid;
					.transition;
					&:hover{
						background:@ciano;
						.data,
						h1,
						p{
							color:#fff;
						}
					}
					.data{
						.transition;
						.cronos(16px);
						color:@ciano;
					}
					h1{
						.transition;
						.bliss(20px);
						color:@marinho;
						margin:5px 0 10px 0;
						line-height:120%;
					}
					p{
						.transition;
						.verdana(10px);
						color:@marinho;
						line-height:140%;
					}
				}
				@media @mobile{
					margin-top:0;
					width:100%;
					display:block;
					height:auto;
					margin-bottom:10px;
					&:nth-child(2){display: none;}
				}
			}
		}
	}
}