@import url('http://fonts.googleapis.com/css?family=Overlock:700italic');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .hide-tablet {
    display: none !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .hide-mobile {
    display: none !important;
  }
}
html body #banners {
  font-size: 0;
}
html body #banners #ampliadas {
  width: 810px;
  height: 510px;
  overflow: hidden;
  position: relative;
  z-index: 9999;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body #banners #ampliadas .banner {
  display: block;
  width: 810px;
  height: 510px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
html body #banners #ampliadas .banner.aberto {
  -webkit-transition: all 0.6s ease-in;
  -moz-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  opacity: 1;
}
html body #banners #ampliadas .banner:hover .texto h1 {
  color: #4ecbdc;
}
html body #banners #ampliadas .banner img {
  width: 808px;
  height: 508px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border: 1px #4ecbdc solid;
}
html body #banners #ampliadas .banner .texto {
  width: 380px;
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-align: right;
}
html body #banners #ampliadas .banner .texto h1 {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #fff;
  font-family: 'Overlock', cursive;
  font-size: 32px;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 15px;
}
html body #banners #ampliadas .banner .texto p {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  line-height: 140%;
  padding-left: 80px;
  width: 300px;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
}
html body #banners #thumbs {
  z-index: 1;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 170px;
  height: 510px;
  margin-left: -1px;
  position: relative;
}
html body #banners #thumbs .thumb {
  display: block;
  border: 1px #4ecbdc solid;
  width: 168px;
  height: 168px;
  position: relative;
  margin-left: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
html body #banners #thumbs .thumb img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 168px;
  height: 168px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body #banners #thumbs .thumb img {
    max-width: 100%;
  }
}
html body #banners #thumbs .thumb .texto {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding-top: 67px;
  padding-left: 20px;
  font-family: 'Overlock', cursive;
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body #banners #thumbs .thumb:hover .texto {
  color: #4ecbdc;
}
html body #banners #thumbs .thumb.aberto {
  margin-left: -170px;
}
html body #banners #thumbs .thumb.suma {
  display: none;
  position: absolute;
}
html body #banners-tablet {
  font-size: 0;
}
html body #banners-tablet #ampliadas {
  width: 611.712px;
  height: 385.152px;
  overflow: hidden;
  position: relative;
  z-index: 9999;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body #banners-tablet #ampliadas .banner {
  display: block;
  width: 611.712px;
  height: 385.152px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
html body #banners-tablet #ampliadas .banner.aberto {
  -webkit-transition: all 0.6s ease-in;
  -moz-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  opacity: 1;
}
html body #banners-tablet #ampliadas .banner:hover .texto h1 {
  color: #4ecbdc;
}
html body #banners-tablet #ampliadas .banner img {
  width: 610.2016px;
  height: 383.6416px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border: 1px #4ecbdc solid;
}
html body #banners-tablet #ampliadas .banner .texto {
  width: 286.976px;
  height: 226.56px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-align: right;
}
html body #banners-tablet #ampliadas .banner .texto h1 {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #fff;
  font-family: 'Overlock', cursive;
  font-size: 32px;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 15px;
}
html body #banners-tablet #ampliadas .banner .texto p {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  line-height: 140%;
  padding-left: 80px;
  width: 300px;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
}
html body #banners-tablet #thumbs {
  z-index: 1;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 128.384px;
  height: 385.152px;
  margin-left: -1px;
  position: relative;
}
html body #banners-tablet #thumbs .thumb {
  display: block;
  border: 1px #4ecbdc solid;
  width: 126.8736px;
  height: 126.8736px;
  position: relative;
  margin-left: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
html body #banners-tablet #thumbs .thumb img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 126.8736px;
  height: 126.8736px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body #banners-tablet #thumbs .thumb img {
    max-width: 100%;
  }
}
html body #banners-tablet #thumbs .thumb .texto {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding-top: 67px;
  padding-left: 20px;
  font-family: 'Overlock', cursive;
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body #banners-tablet #thumbs .thumb:hover .texto {
  color: #4ecbdc;
}
html body #banners-tablet #thumbs .thumb.aberto {
  margin-left: -170px;
}
html body #banners-tablet #thumbs .thumb.suma {
  display: none;
  position: absolute;
}
html body #banner-mobile {
  margin-bottom: 10px;
}
html body #banner-mobile a {
  display: block;
  position: relative;
}
html body #banner-mobile a img {
  max-width: 100%;
  border: 1px #4ecbdc solid;
}
html body #banner-mobile a .texto {
  width: 100%;
  padding-top: 40%;
  color: #fff;
  font-family: 'Overlock', cursive;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
html body #banner-mobile a .texto h1 {
  padding-left: 10px;
}
html body #chamadas .chamada {
  height: 190px;
  margin-top: 25px;
}
html body #chamadas .chamada:nth-child(2) a {
  width: 96%;
  margin: 0 auto;
}
html body #chamadas .chamada a {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  border: 1px #4ecbdc solid;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body #chamadas .chamada a:hover {
  background: #4ecbdc;
}
html body #chamadas .chamada a:hover .data,
html body #chamadas .chamada a:hover h1,
html body #chamadas .chamada a:hover p {
  color: #fff;
}
html body #chamadas .chamada a .data {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Overlock', cursive;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  color: #4ecbdc;
}
html body #chamadas .chamada a h1 {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Bliss2-Bold', 'Verdana', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #00587a;
  margin: 5px 0 10px 0;
  line-height: 120%;
}
html body #chamadas .chamada a p {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Verdana', sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #00587a;
  line-height: 140%;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body #chamadas .chamada {
    margin-top: 0;
    width: 100%;
    display: block;
    height: auto;
    margin-bottom: 10px;
  }
  html body #chamadas .chamada:nth-child(2) {
    display: none;
  }
}
