@import 'vars.less';

html{
	body{
		aside{
			#lateral{
				ul{
					list-style: none;
					background:#FFF !important;
					li{
						border-left:5px @ciano solid;
						margin-bottom:25px;
						display:block;
						a{
							display:block;
							padding-left:10px;
							width:260px;
							@media @desktop{
								padding-bottom:20px;
								background:url('../images/layout/seta-noticias.png') #fff 10px bottom no-repeat;
							}
							@media @tablet{
								width:auto;
								padding-bottom:5px;
							}
							.transition;
							&:active, &:visited{}
							&:hover, &.ativo{
								background-color: @ciano;
							}
							.data{
								padding-left:10px;
								margin-left: -10px;
								color:@ciano;
								.cronos(16px);
								margin-bottom: 10px;
								display: block;
								background: #fff;
							}
							h2{
								.bliss(20px);
								color:@marinho;
								margin-bottom: 10px;
							}
							.olho{
								.verdana(10px);
								color:@marinho;
								line-height: 150%;
								.hide-mobile;
								.hide-tablet;
							}
						}
					}
				}
			}
			#btn-ver-mais{
				.inline;
				@media @mobile{
					margin-top:5px;
				}
				@media @desktop{
					margin-top:35px;					
				}
				height:50px;
				line-height:50px;
				border:1px @ciano solid;
				color:@ciano;
				padding:0 30px;
				background:#fff;
				cursor:pointer;
				.bliss(20px);
				.arredondada(7px);
				.transition;
				&:hover{
					background:@marinho;
				}				
			}
		}
		section{
			.detalhe{
				@media @mobile{
					padding-top:20px;
					margin-top:20px;
					border-top:1px @ciano solid;
				}
				@media @tablet{
					padding-left: 10px;
				}
				@media @desktop{
					padding-left: 50px;
				}
				position: relative;
				&:before{
					content:"";
					display:block;
					width:2px;
					height: 400px;
					position: absolute;
					top: 0;
					left: -1px;
					background: @ciano;
				}
				h1{
					.bliss(30px);
					color:@ciano;
					line-height: 130%;
					margin-bottom: 20px;
				}
				img{
					display:block;
					margin:0 auto;
					max-width: 100%;
				}
				.data{
					.cronos(16px);
					color:@ciano;
					margin:15px 0 20px 0;
				}
				.cke{
					color:@marinho;
					font-size: 12px;
				}
				p{
					line-height:160% !important;
				}
				h2{
					.bliss(30px);
					color:@ciano;
					line-height: 130%;
					margin-bottom: 20px;
				}
			}
		}
	}
}
