@import url('http://fonts.googleapis.com/css?family=Overlock:700italic');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .hide-tablet {
    display: none !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .hide-mobile {
    display: none !important;
  }
}
html body aside #lateral ul {
  list-style: none;
  background: #FFF !important;
}
html body aside #lateral ul li {
  border-left: 5px #4ecbdc solid;
  margin-bottom: 25px;
  display: block;
}
html body aside #lateral ul li a {
  display: block;
  padding-left: 10px;
  width: 260px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
@media only screen and (min-width: 1024px) {
  html body aside #lateral ul li a {
    padding-bottom: 20px;
    background: url('../images/layout/seta-noticias.png') #ffffff 10px bottom no-repeat;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  html body aside #lateral ul li a {
    width: auto;
    padding-bottom: 5px;
  }
}
html body aside #lateral ul li a:hover,
html body aside #lateral ul li a.ativo {
  background-color: #4ecbdc;
}
html body aside #lateral ul li a .data {
  padding-left: 10px;
  margin-left: -10px;
  color: #4ecbdc;
  font-family: 'Overlock', cursive;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 10px;
  display: block;
  background: #fff;
}
html body aside #lateral ul li a h2 {
  font-family: 'Bliss2-Bold', 'Verdana', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #00587a;
  margin-bottom: 10px;
}
html body aside #lateral ul li a .olho {
  font-family: 'Verdana', sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #00587a;
  line-height: 150%;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body aside #lateral ul li a .olho {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  html body aside #lateral ul li a .olho {
    display: none !important;
  }
}
html body aside #btn-ver-mais {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  height: 50px;
  line-height: 50px;
  border: 1px #4ecbdc solid;
  color: #4ecbdc;
  padding: 0 30px;
  background: #fff;
  cursor: pointer;
  font-family: 'Bliss2-Bold', 'Verdana', sans-serif;
  font-size: 20px;
  font-weight: normal;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  behavior: url('PIE.htc');
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body aside #btn-ver-mais {
    margin-top: 5px;
  }
}
@media only screen and (min-width: 1024px) {
  html body aside #btn-ver-mais {
    margin-top: 35px;
  }
}
html body aside #btn-ver-mais:hover {
  background: #00587a;
}
html body section .detalhe {
  position: relative;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body section .detalhe {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px #4ecbdc solid;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  html body section .detalhe {
    padding-left: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  html body section .detalhe {
    padding-left: 50px;
  }
}
html body section .detalhe:before {
  content: "";
  display: block;
  width: 2px;
  height: 400px;
  position: absolute;
  top: 0;
  left: -1px;
  background: #4ecbdc;
}
html body section .detalhe h1 {
  font-family: 'Bliss2-Bold', 'Verdana', sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #4ecbdc;
  line-height: 130%;
  margin-bottom: 20px;
}
html body section .detalhe img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
html body section .detalhe .data {
  font-family: 'Overlock', cursive;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  color: #4ecbdc;
  margin: 15px 0 20px 0;
}
html body section .detalhe .cke {
  color: #00587a;
  font-size: 12px;
}
html body section .detalhe p {
  line-height: 160% !important;
}
html body section .detalhe h2 {
  font-family: 'Bliss2-Bold', 'Verdana', sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #4ecbdc;
  line-height: 130%;
  margin-bottom: 20px;
}
