@import 'vars.less';

html{
	body{
		p.intro{
			color:@marinho;
			.verdana(13px);
			@media @mobile{
				padding-left:10px;
			}
		}
		.index-categorias{
			margin-top:10px;
			.categoria{
				box-sizing: border-box;
				margin:0 auto;
				width:98%;
				border:1px @ciano solid;
				padding:10px;
				position:relative;
				cursor:pointer;
				margin-bottom:5px;
				@media @mobile{
					min-height:64px;
					padding:0 0 0 15px;
					position:relative;
				}
				.pre{
					padding:10px 0 0 5px;
					color:@marinho;
					.bliss(12px);
				}
				.titulo{
					padding:0px 0 0 5px;
					color:@marinho;
					.bliss(18px);	
				}
				.imagem{
					margin-top:20px;
					max-width: 100%;
					img{
						border:1px @ciano solid;
						max-width: 100%;
					}
					@media @mobile{
						margin:0;
						position:absolute;
						right:0;
						top:0;
						height:60px;
						img{
							max-height: 60px;
						}
					}
				}
				&:hover{
					.produtos{
						opacity:1;
					}
					@media @tablet{
						.produtos ul.aberto{
							opacity:1;
						}
					}
				}
				@media @mobile{
					.produtos{
						ul{
							list-style: none;
							padding:0;
							margin-left:-5px;
							height:0;
							overflow:hidden;
							.transition;
							&.aberto{
								padding:10px 0 15px 0;
								height:auto;
								overflow:visible;
							}
							li{
								a{
									.bliss(11px);
									.inline;
									height: 20px;
									line-height: 20px;
									padding:0 10px;
									background: #fff;
									.transition;
									color:@marinho;
									&:active, &:visited{color:@marinho;}
									&:hover{
										background: @ciano;
									}
								}
							}
						}
					}
				}
				@media @tablet_e_desktop{
					.produtos{
						position:absolute;
						top:0;
						left:0;
						width:100%;
						height: 100%;
						background:@ciano;
						opacity:0;
						.transition;
						ul{
							list-style: none;
							padding:14px 0 14px 10px;
							li{
								margin-bottom: 4px;
								a{
									.bliss(15px);
									.inline;
									height: 20px;
									line-height: 20px;
									padding:0 10px;
									background: @ciano;
									.transition;
									color:@marinho;
									&:active, &:visited{color:@marinho;}
									&:hover{
										background: @marinho;
										color:@ciano;
									}
								}
							}
							@media @tablet{
								&.aberto li a{
									background: @marinho;
									color:@ciano;
								}
							}
						}
					}
				}
			}
		}
		.titulo-categoria{
			margin:20px 0;
			background:@ciano;
			color:@marinho;
			padding-left:10px;
			height:20px;
			line-height:20px;
			.bliss(12px);
		}
		.titulo-produto{
			.cronos(28px);
			color:@ciano;
			margin-bottom: 10px;
			@media @mobile{
				padding-left:10px;
			}
		}
		.detalhes{
			padding-bottom: 30px;
			border-bottom:1px @ciano solid;
			margin-bottom:15px;
			.imagem{
				@media @mobile{ max-width: 100%; }
				@media @tablet{ max-width: 85%; }
				@media @desktop{ max-width: 85%; }
				a{
					display:block;
					position:relative;
					img.thumb{ 
						max-width: 100%; 						
					}
					.overlay{
						position: absolute;
						bottom:10px;
						right:10px;
						height:20px;
						width:50px;
						text-align: right;
						img{.inline;}
					}
				}
			}
			h3{
				.cronos(12px);
				color:@ciano;
				line-height: 140%;
				@media @mobile{
					padding-left:10px;
				}
			}
			.pad-cert{
				@media @mobile{
					padding-left:10px;
				}
			}
			p{
				.verdana(12px);
				color:@marinho;
				line-height: 140%;
				margin-top: 3px;
				margin-bottom: 15px;
				@media @mobile{
					padding-left:10px;
				}
			}
			.texto-meio{
				@media @mobile{padding-right:5px;}
				@media @tablet{padding-right:10px;}
				@media @desktop{padding-right:25px;}
			}
			.contemCores{
				margin-bottom: 15px;
				@media @mobile{
					padding-left:10px;
				}
				.cor{
					.verdana(12px);
					color:@marinho;
					line-height: 140%;
					margin-top: 3px;
					margin-bottom: 3px;
					.bullet{
						width:10px;
						height:10px;
						border:1px @ciano solid;
						float:left;
						margin-right: 5px;
						.arredondada(100%);

					}
				}
			}
		}
		.outros{
			ul{
				border-bottom:1px @ciano solid;
				list-style: none;
				padding:20px 0 40px 0;
				margin-bottom: 20px;
				li{
					margin-bottom:5px;
					a{
						height: 30px;
						line-height: 30px;
						display:block;
						background:@azulClaro;
						color:@marinho;
						.cronos(20px);
						&:active, &:visited{}
						&:hover{
							background:@ciano;
							&:before{color:@marinho;}
						}
						.transition;
						&:before{
							.transition;
							.cronos(22px, bold);
							content:"+";
							color:#fff;
							margin:0 10px 0 10px;
							vertical-align: 1px;
						}
					}
				}
			}
		}
		.link-voltar-categorias{
			color:#fff;
			height:30px;
			padding:0 10px;
			margin-top:15px;
			margin-left:5px;
			line-height:30px;
			background:@ciano;
			text-transform: uppercase;
			.inline;
			.transition;
			.bliss(16px);
			.arredondada(7px);
			&:active, &:visited{color:#fff;}
			&:hover{color:@marinho;}
		}
		.interna-lista-categorias{
			padding-top:15px;
			.categoria{
				box-sizing: border-box;
				margin:0 auto;
				width:98%;
				border:1px @ciano solid;
				padding:10px;
				position:relative;
				.pre{
					padding:10px 0 0 5px;
					color:@marinho;
					.bliss(12px);
				}
				.titulo{
					padding:0px 0 0 5px;
					color:@marinho;
					.bliss(16px);
					min-height: 32px;
				}
				.imagem{
					margin-top:20px;
					max-width: 100%;
					img{
						border:1px @ciano solid;
						max-width: 100%;
					}
				}				
			}			
			.produtos{
				box-sizing: border-box;
				margin:0 auto;
				width:98%;
				padding:12px 0 0 0;
				border-left: 1px @ciano solid;
				ul{
					list-style: none;
					li{
						a{
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							box-sizing: border-box;
							max-width: 90%;
							padding:0 10px;
							.bliss(11px);
							.inline;
							height: 20px;
							line-height: 20px;
							.transition;
							color:@marinho;
							&:active, &:visited{color:@marinho;}
							&:hover, &.ativo{
								background: @ciano;								
							}
						}
					}
				}
			}
		}
	}
}
