@import url('http://fonts.googleapis.com/css?family=Overlock:700italic');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .hide-tablet {
    display: none !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .hide-mobile {
    display: none !important;
  }
}
html body p.intro {
  color: #00587a;
  font-family: 'Verdana', sans-serif;
  font-size: 13px;
  font-weight: normal;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body p.intro {
    padding-left: 10px;
  }
}
html body .index-categorias {
  margin-top: 10px;
}
html body .index-categorias .categoria {
  box-sizing: border-box;
  margin: 0 auto;
  width: 98%;
  border: 1px #4ecbdc solid;
  padding: 10px;
  position: relative;
  cursor: pointer;
  margin-bottom: 5px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .index-categorias .categoria {
    min-height: 64px;
    padding: 0 0 0 15px;
    position: relative;
  }
}
html body .index-categorias .categoria .pre {
  padding: 10px 0 0 5px;
  color: #00587a;
  font-family: 'Bliss2-Bold', 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html body .index-categorias .categoria .titulo {
  padding: 0px 0 0 5px;
  color: #00587a;
  font-family: 'Bliss2-Bold', 'Verdana', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
html body .index-categorias .categoria .imagem {
  margin-top: 20px;
  max-width: 100%;
}
html body .index-categorias .categoria .imagem img {
  border: 1px #4ecbdc solid;
  max-width: 100%;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .index-categorias .categoria .imagem {
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
  }
  html body .index-categorias .categoria .imagem img {
    max-height: 60px;
  }
}
html body .index-categorias .categoria:hover .produtos {
  opacity: 1;
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  html body .index-categorias .categoria:hover .produtos ul.aberto {
    opacity: 1;
  }
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .index-categorias .categoria .produtos ul {
    list-style: none;
    padding: 0;
    margin-left: -5px;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body .index-categorias .categoria .produtos ul.aberto {
    padding: 10px 0 15px 0;
    height: auto;
    overflow: visible;
  }
  html body .index-categorias .categoria .produtos ul li a {
    font-family: 'Bliss2-Bold', 'Verdana', sans-serif;
    font-size: 11px;
    font-weight: normal;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    background: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #00587a;
  }
  html body .index-categorias .categoria .produtos ul li a:active,
  html body .index-categorias .categoria .produtos ul li a:visited {
    color: #00587a;
  }
  html body .index-categorias .categoria .produtos ul li a:hover {
    background: #4ecbdc;
  }
}
@media only screen and (min-width: 481px) {
  html body .index-categorias .categoria .produtos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4ecbdc;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body .index-categorias .categoria .produtos ul {
    list-style: none;
    padding: 14px 0 14px 10px;
  }
  html body .index-categorias .categoria .produtos ul li {
    margin-bottom: 4px;
  }
  html body .index-categorias .categoria .produtos ul li a {
    font-family: 'Bliss2-Bold', 'Verdana', sans-serif;
    font-size: 15px;
    font-weight: normal;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    background: #4ecbdc;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #00587a;
  }
  html body .index-categorias .categoria .produtos ul li a:active,
  html body .index-categorias .categoria .produtos ul li a:visited {
    color: #00587a;
  }
  html body .index-categorias .categoria .produtos ul li a:hover {
    background: #00587a;
    color: #4ecbdc;
  }
}
@media only screen and (min-width: 481px) and only screen and (min-width: 481px) and (max-width: 1023px) {
  html body .index-categorias .categoria .produtos ul.aberto li a {
    background: #00587a;
    color: #4ecbdc;
  }
}
html body .titulo-categoria {
  margin: 20px 0;
  background: #4ecbdc;
  color: #00587a;
  padding-left: 10px;
  height: 20px;
  line-height: 20px;
  font-family: 'Bliss2-Bold', 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html body .titulo-produto {
  font-family: 'Overlock', cursive;
  font-size: 28px;
  font-weight: normal;
  font-style: italic;
  color: #4ecbdc;
  margin-bottom: 10px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .titulo-produto {
    padding-left: 10px;
  }
}
html body .detalhes {
  padding-bottom: 30px;
  border-bottom: 1px #4ecbdc solid;
  margin-bottom: 15px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .detalhes .imagem {
    max-width: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  html body .detalhes .imagem {
    max-width: 85%;
  }
}
@media only screen and (min-width: 1024px) {
  html body .detalhes .imagem {
    max-width: 85%;
  }
}
html body .detalhes .imagem a {
  display: block;
  position: relative;
}
html body .detalhes .imagem a img.thumb {
  max-width: 100%;
}
html body .detalhes .imagem a .overlay {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 20px;
  width: 50px;
  text-align: right;
}
html body .detalhes .imagem a .overlay img {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .detalhes h3 {
  font-family: 'Overlock', cursive;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  color: #4ecbdc;
  line-height: 140%;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .detalhes h3 {
    padding-left: 10px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .detalhes .pad-cert {
    padding-left: 10px;
  }
}
html body .detalhes p {
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #00587a;
  line-height: 140%;
  margin-top: 3px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .detalhes p {
    padding-left: 10px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .detalhes .texto-meio {
    padding-right: 5px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  html body .detalhes .texto-meio {
    padding-right: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  html body .detalhes .texto-meio {
    padding-right: 25px;
  }
}
html body .detalhes .contemCores {
  margin-bottom: 15px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .detalhes .contemCores {
    padding-left: 10px;
  }
}
html body .detalhes .contemCores .cor {
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #00587a;
  line-height: 140%;
  margin-top: 3px;
  margin-bottom: 3px;
}
html body .detalhes .contemCores .cor .bullet {
  width: 10px;
  height: 10px;
  border: 1px #4ecbdc solid;
  float: left;
  margin-right: 5px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  behavior: url('PIE.htc');
}
html body .outros ul {
  border-bottom: 1px #4ecbdc solid;
  list-style: none;
  padding: 20px 0 40px 0;
  margin-bottom: 20px;
}
html body .outros ul li {
  margin-bottom: 5px;
}
html body .outros ul li a {
  height: 30px;
  line-height: 30px;
  display: block;
  background: #a6e5ee;
  color: #00587a;
  font-family: 'Overlock', cursive;
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .outros ul li a:hover {
  background: #4ecbdc;
}
html body .outros ul li a:hover:before {
  color: #00587a;
}
html body .outros ul li a:before {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Overlock', cursive;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  content: "+";
  color: #fff;
  margin: 0 10px 0 10px;
  vertical-align: 1px;
}
html body .link-voltar-categorias {
  color: #fff;
  height: 30px;
  padding: 0 10px;
  margin-top: 15px;
  margin-left: 5px;
  line-height: 30px;
  background: #4ecbdc;
  text-transform: uppercase;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Bliss2-Bold', 'Verdana', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  behavior: url('PIE.htc');
}
html body .link-voltar-categorias:active,
html body .link-voltar-categorias:visited {
  color: #fff;
}
html body .link-voltar-categorias:hover {
  color: #00587a;
}
html body .interna-lista-categorias {
  padding-top: 15px;
}
html body .interna-lista-categorias .categoria {
  box-sizing: border-box;
  margin: 0 auto;
  width: 98%;
  border: 1px #4ecbdc solid;
  padding: 10px;
  position: relative;
}
html body .interna-lista-categorias .categoria .pre {
  padding: 10px 0 0 5px;
  color: #00587a;
  font-family: 'Bliss2-Bold', 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html body .interna-lista-categorias .categoria .titulo {
  padding: 0px 0 0 5px;
  color: #00587a;
  font-family: 'Bliss2-Bold', 'Verdana', sans-serif;
  font-size: 16px;
  font-weight: normal;
  min-height: 32px;
}
html body .interna-lista-categorias .categoria .imagem {
  margin-top: 20px;
  max-width: 100%;
}
html body .interna-lista-categorias .categoria .imagem img {
  border: 1px #4ecbdc solid;
  max-width: 100%;
}
html body .interna-lista-categorias .produtos {
  box-sizing: border-box;
  margin: 0 auto;
  width: 98%;
  padding: 12px 0 0 0;
  border-left: 1px #4ecbdc solid;
}
html body .interna-lista-categorias .produtos ul {
  list-style: none;
}
html body .interna-lista-categorias .produtos ul li a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  max-width: 90%;
  padding: 0 10px;
  font-family: 'Bliss2-Bold', 'Verdana', sans-serif;
  font-size: 11px;
  font-weight: normal;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  height: 20px;
  line-height: 20px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #00587a;
}
html body .interna-lista-categorias .produtos ul li a:active,
html body .interna-lista-categorias .produtos ul li a:visited {
  color: #00587a;
}
html body .interna-lista-categorias .produtos ul li a:hover,
html body .interna-lista-categorias .produtos ul li a.ativo {
  background: #4ecbdc;
}
