@import url('http://fonts.googleapis.com/css?family=Overlock:700italic');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .hide-tablet {
    display: none !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .hide-mobile {
    display: none !important;
  }
}
html body .main-quemsomos {
  padding-top: 25px;
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  html body .main-quemsomos .quebrar {
    width: 100% !important;
    display: block !important;
  }
}
html body .main-quemsomos h1 {
  color: #00587a;
  line-height: 110%;
  margin-bottom: 15px;
  font-family: 'Overlock', cursive;
  font-size: 32px;
  font-weight: normal;
  font-style: italic;
}
html body .main-quemsomos .historia {
  color: #00587a;
  max-width: 420px;
}
html body .main-quemsomos .historia p,
html body .main-quemsomos .historia img {
  max-width: 420px;
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  html body .main-quemsomos .historia {
    max-width: 100%;
  }
  html body .main-quemsomos .historia p,
  html body .main-quemsomos .historia img {
    max-width: 100%;
  }
}
html body .main-quemsomos .fundoAzul {
  background: #00587a;
}
html body .main-quemsomos .missao {
  color: #fff;
  padding: 20px;
  border-right: 2px #fff solid;
}
html body .main-quemsomos .missao h1 {
  color: #fff;
}
html body .main-quemsomos .visao {
  color: #fff;
  padding: 20px;
}
html body .main-quemsomos .visao h1 {
  color: #fff;
}
html body .main-quemsomos .valores {
  color: #fff;
  padding: 20px;
  border-top: 2px #fff solid;
}
html body .main-quemsomos .valores h1 {
  color: #fff;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .main-quemsomos .pure-u-1-2 {
    display: block;
    width: 100%;
    border-bottom: 4px #fff solid;
  }
  html body .main-quemsomos img {
    max-width: 100% !important;
  }
  html body .main-quemsomos .missao,
  html body .main-quemsomos .visao,
  html body .main-quemsomos .valores {
    border: 0;
    height: auto;
    margin-bottom: 5px;
  }
}
html body .main-quemsomos .imagem {
  margin-top: 50px;
  position: relative;
}
@media only screen and (min-width: 0px) and (max-width: 1023px) {
  html body .main-quemsomos .imagem {
    width: 100%;
  }
  html body .main-quemsomos .imagem img {
    width: 100%;
  }
}
html body .main-quemsomos .imagem .texto-overlay {
  position: absolute;
  top: 0;
  left: 20px;
  width: 250px;
  padding: 25px;
  background: url('rgba.php/rgba(166,229,238,0.7)');
  background: rgba(166, 229, 238, 0.7);
  font-family: 'Overlock', cursive;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  color: #fff;
}
@media only screen and (min-width: 0px) and (max-width: 1023px) {
  html body .main-quemsomos .imagem .texto-overlay {
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .main-quemsomos .imagem .texto-overlay {
    display: block;
    position: relative;
    width: 100%;
    left: 0;
    color: #00587a;
    margin-bottom: 2px;
    padding: 10px;
  }
  html body .main-quemsomos .imagem img {
    max-width: 100%;
  }
}
