@import 'vars.less';

html{
	body{
		.main-quemsomos{
			padding-top:25px;
			@media @tablet{
				.quebrar{
					width:100% !important;
					display:block !important;
				}
			}
			h1{
				color:@marinho;
				line-height:110%;
				margin-bottom: 15px;
				.cronos(32px);
			}
			.historia{
				color:@marinho;
				max-width:420px;
				p, img{
					max-width:420px;
				}
				@media @tablet{
					max-width: 100%;
					p, img{ max-width:100%; }
				}
			}
			.fundoAzul{
				background:@marinho;				
			}
			.missao{
				color:#fff;
				padding:20px;
				border-right:2px #fff solid;
				h1{
					color:#fff;
				}
			}
			.visao{
				color:#fff;
				padding:20px;
				h1{
					color:#fff;
				}
			}
			.valores{
				color:#fff;
				padding:20px;
				border-top:2px #fff solid;
				h1{
					color:#fff;
				}
			}
			@media @mobile{
				.pure-u-1-2{
					display:block;
					width:100%;
					border-bottom:4px #fff solid;
				}
				img{
					max-width:100% !important;
				}
				.missao,
				.visao,
				.valores{
					border:0;
					height:auto;
					margin-bottom:5px;
				}
			}
			.imagem{
				margin-top:50px;
				position:relative;
				@media @mobile_e_tablet{
					width: 100%;
					img{
						width: 100%;
					}
				}
				.texto-overlay{
					position:absolute;
					top:0;
					left:20px;
					width:250px;
					padding:25px;
					background:url('rgba.php/rgba(166,229,238,0.7)');
					background:rgba(166,229,238,.7);
					.cronos(18px);
					color:#fff;
					@media @mobile_e_tablet{
						box-sizing:border-box;						
					}
				}
				@media @mobile{
					.texto-overlay{
						display:block;
						position:relative;
						width:100%;
						left:0;
						color:@marinho;
						margin-bottom: 2px;
						padding:10px;
					}
					img{
						max-width: 100%;
					}
				}
			}
		}		
	}
}
