@import url('http://fonts.googleapis.com/css?family=Overlock:700italic');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .hide-tablet {
    display: none !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .hide-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  html body .main-representantes .pure-u-2-5 {
    width: 55%;
    min-width: 360px;
  }
  html body .main-representantes .pure-u-3-5 {
    width: 45%;
  }
}
html body .main-representantes h2 {
  font-family: 'Bliss2-Bold', 'Verdana', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #4ecbdc;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .main-representantes h2 {
    padding-left: 10px;
  }
}
html body .main-representantes p {
  margin-top: 20px;
  width: 280px;
  font-family: 'Verdana', sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 120%;
  color: #00587a;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .main-representantes p {
    padding-left: 10px;
  }
}
html body .main-representantes form {
  margin-top: 10px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .main-representantes form {
    padding-left: 10px;
  }
}
html body .main-representantes form .simpleselect {
  width: 280px;
  background: #4ecbdc;
  border: 0;
  height: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  behavior: url('PIE.htc');
}
html body .main-representantes form .simpleselect .placeholder {
  border: 0;
  padding: 6px 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  behavior: url('PIE.htc');
  background: #4ecbdc;
  color: #00587a;
}
html body .main-representantes form .simpleselect .placeholder:after {
  content: "";
  background: url('../images/layout/seta-combobox.png') center center no-repeat;
  width: 30px;
  height: 30px;
  right: 0;
}
html body .main-representantes form .simpleselect .options {
  width: 280px;
  padding: 6px 10px;
  background: #4ecbdc;
  color: #00587a;
}
html body .main-representantes form input[type="submit"] {
  margin-top: 35px;
  height: 50px;
  line-height: 50px;
  border: 1px #4ecbdc solid;
  color: #4ecbdc;
  padding: 0 30px;
  background: #fff;
  cursor: pointer;
  font-family: 'Bliss2-Bold', 'Verdana', sans-serif;
  font-size: 20px;
  font-weight: normal;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  behavior: url('PIE.htc');
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main-representantes form input[type="submit"]:hover {
  background: #00587a;
}
html body .main-representantes .listaRepresentantes {
  border-top: 1px #4ecbdc solid;
  margin-top: 30px;
  padding-top: 15px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .main-representantes .listaRepresentantes {
    border-top: 0;
    border-bottom: 1px #4ecbdc solid;
  }
}
@media only screen and (min-width: 1024px) {
  html body .main-representantes .listaRepresentantes .pure-u-1-2:nth-child(even) .pad {
    padding-left: 2%;
  }
  html body .main-representantes .listaRepresentantes .pure-u-1-2:nth-child(odd) .pad {
    padding-right: 2%;
  }
}
html body .main-representantes .listaRepresentantes .pad .representante {
  border: 1px #4ecbdc solid;
  padding: 15px;
  box-sizing: border-box;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #00587a;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .main-representantes .listaRepresentantes .pad .representante {
    border-bottom: 0;
  }
}
html body .main-representantes .listaRepresentantes .pad .representante strong {
  font-weight: bold;
}
html body .main-representantes .listaRepresentantes .pad .representante p {
  margin: 3px 0;
  line-height: 110%;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .main-representantes .listaRepresentantes .pad .representante p {
    padding-left: 0px;
  }
}
html body .main-representantes .listaRepresentantes .pad .representante a {
  text-decoration: underline;
  color: #00587a;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main-representantes .listaRepresentantes .pad .representante a:active,
html body .main-representantes .listaRepresentantes .pad .representante a:visited {
  color: #00587a;
}
html body .main-representantes .listaRepresentantes .pad .representante a:hover {
  color: #4ecbdc;
}
#mapa {
  width: 360px;
  height: 310px;
  background: #4ecbdc url('../images/layout/mapa-brasil-completo.gif') no-repeat center bottom;
  position: relative;
}
#mapa a {
  position: absolute;
  background: transparent url('../images/layout/mapa-brasil-estados.gif') no-repeat left top;
  text-indent: -9999px;
  z-index: 9990;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#mapa a:hover,
#mapa a.active {
  opacity: 1;
}
#mapa a.ac {
  background-position: left 0px;
  top: 116px;
  left: 34px;
  width: 56px;
  height: 28px;
}
#mapa a.al {
  background-position: left -32px;
  top: 133px;
  left: 299px;
  width: 21px;
  height: 12px;
}
#mapa a.am {
  background-position: left -49px;
  top: 40px;
  left: 35px;
  width: 130px;
  height: 91px;
}
#mapa a.ap {
  background-position: left -145px;
  top: 27px;
  left: 177px;
  width: 38px;
  height: 41px;
  z-index: 9991;
}
#mapa a.ba {
  background-position: left -191px;
  top: 128px;
  left: 236px;
  width: 76px;
  height: 78px;
}
#mapa a.ce {
  background-position: left -279px;
  top: 85px;
  left: 277px;
  width: 29px;
  height: 39px;
}
#mapa a.es {
  background-position: left -323px;
  top: 198px;
  left: 265px;
  width: 18px;
  height: 24px;
  z-index: 9992;
}
#mapa a.go {
  background-position: left -352px;
  top: 150px;
  left: 186px;
  width: 50px;
  height: 55px;
  z-index: 9991;
}
#mapa a.ma {
  background-position: left -412px;
  top: 70px;
  left: 223px;
  width: 51px;
  height: 68px;
  z-index: 9991;
}
#mapa a.mt {
  background-position: left -610px;
  top: 114px;
  left: 127px;
  width: 84px;
  height: 76px;
}
#mapa a.ms {
  background-position: left -553px;
  top: 186px;
  left: 150px;
  width: 51px;
  height: 52px;
}
#mapa a.mg {
  background-position: left -485px;
  top: 168px;
  left: 204px;
  width: 79px;
  height: 63px;
}
#mapa a.pa {
  background-position: left -691px;
  top: 39px;
  left: 146px;
  width: 96px;
  height: 94px;
}
#mapa a.pb {
  background-position: left -790px;
  top: 112px;
  left: 297px;
  width: 29px;
  height: 16px;
  z-index: 9991;
}
#mapa a.pr {
  background-position: left -899px;
  top: 226px;
  left: 176px;
  width: 43px;
  height: 31px;
}
#mapa a.pe {
  background-position: left -811px;
  top: 119px;
  left: 277px;
  width: 48px;
  height: 19px;
}
#mapa a.pi {
  background-position: left -835px;
  top: 84px;
  left: 241px;
  width: 41px;
  height: 59px;
}
#mapa a.rj {
  background-position: left -935px;
  top: 219px;
  left: 243px;
  width: 28px;
  height: 16px;
}
#mapa a.rn {
  background-position: left -956px;
  top: 103px;
  left: 298px;
  width: 27px;
  height: 16px;
}
#mapa a.rs {
  background-position: left -1080px;
  top: 260px;
  left: 156px;
  width: 56px;
  height: 49px;
}
#mapa a.ro {
  background-position: left -977px;
  top: 117px;
  left: 88px;
  width: 49px;
  height: 44px;
}
#mapa a.rr {
  background-position: left -1026px;
  top: 18px;
  left: 103px;
  width: 43px;
  height: 49px;
}
#mapa a.sc {
  background-position: left -1134px;
  top: 252px;
  left: 181px;
  width: 35px;
  height: 24px;
}
#mapa a.sp {
  background-position: left -1183px;
  top: 205px;
  left: 189px;
  width: 55px;
  height: 41px;
}
#mapa a.se {
  background-position: left -1163px;
  top: 137px;
  left: 298px;
  width: 13px;
  height: 15px;
}
#mapa a.to {
  background-position: left -1229px;
  top: 99px;
  left: 207px;
  width: 34px;
  height: 62px;
}
#mapa a.df {
  background-position: left -1296px;
  top: 176px;
  left: 221px;
  width: 6px;
  height: 4px;
  z-index: 9999;
}
