@import 'vars.less';

html{
	body{
		.main-representantes{
			@media @tablet{
				.pure-u-2-5{
					width:55%;
					min-width: 360px;
				}
				.pure-u-3-5{
					width:45%;
				}
			}
			h2{
				.bliss(18px);
				color:@ciano;
				@media @mobile{
					padding-left:10px;
				}
			}
			p{
				margin-top:20px;
				width:280px;
				.verdana(13px);
				line-height:120%;
				color:@marinho;
				@media @mobile{
					padding-left:10px;
				}
			}
			form{
				margin-top:10px;
				@media @mobile{
					padding-left:10px;
				}
				.simpleselect{
					width:280px;
					background:@ciano;
					border:0;
					height:30px;
					.arredondada(6px);
				    .placeholder{
				    	border:0;
				    	padding:6px 10px;
				    	.arredondada(6px);
				    	background:@ciano;
				    	color:@marinho;
				    	&:after{
				    		content:"";
				    		background:url('../images/layout/seta-combobox.png') center center no-repeat;
				    		width:30px;
				    		height:30px;
				    		right:0;
				    	}
				    }
				    .options{
				    	width:280px;
				    	padding:6px 10px;
				    	background:@ciano;
				    	color:@marinho;
				    }
				}
				input[type="submit"]{
					margin-top:35px;
					height:50px;
					line-height:50px;
					border:1px @ciano solid;
					color:@ciano;
					padding:0 30px;
					background:#fff;
					cursor:pointer;
					.bliss(20px);
					.arredondada(7px);
					.transition;
					&:hover{
						background:@marinho;
					}
				}
			}
			.listaRepresentantes{
				border-top:1px @ciano solid;
				margin-top:30px;
				padding-top:15px;
				@media @mobile{
					border-top:0;
					border-bottom:1px @ciano solid;
				}
				.pure-u-1-2{
					@media @desktop{
						&:nth-child(even){
							.pad{padding-left:2%;}
						}
						&:nth-child(odd){
							.pad{padding-right:2%;}
						}
					}
				}
				.pad{					
					.representante{
						border:1px @ciano solid;
						@media @mobile{
							border-bottom:0;
						}
						padding:15px;
						box-sizing: border-box;
						.verdana(12px);
						color:@marinho;
						strong{font-weight: bold;}
						p{
							margin:3px 0;
							line-height:110%;
							@media @mobile{
								padding-left:0px;
							}
						}
						a{
							text-decoration: underline;
							color:@marinho;
							.transition;
							&:active, &:visited{color:@marinho;}
							&:hover{color:@ciano;}
						}
					}
				}
			}
		}
	}
}

#mapa{
	width: 360px;
	height: 310px;
	background: #4ECBDC url('../images/layout/mapa-brasil-completo.gif') no-repeat center bottom;
	position:relative;
	a{
		position: absolute;
		background: transparent url('../images/layout/mapa-brasil-estados.gif') no-repeat left top;
		text-indent: -9999px;
		z-index:9990;
		opacity: 0;
		.transition;
		&:hover, &.active {
			opacity: 1;
		}
		&.ac { background-position: left 0px; top:116px; left:34px; width: 56px; height: 28px; }
		&.al { background-position: left -32px; top: 133px; left: 299px; width: 21px; height: 12px; }
		&.am { background-position: left -49px; top: 40px; left: 35px; width: 130px; height: 91px; }
		&.ap { background-position: left -145px; top: 27px; left: 177px; width: 38px; height: 41px; z-index:9991; }
		&.ba { background-position: left -191px; top: 128px; left: 236px; width: 76px; height: 78px; }
		&.ce { background-position: left -279px; top: 85px; left: 277px; width: 29px; height: 39px; }
		&.es { background-position: left -323px; top: 198px; left: 265px; width: 18px; height: 24px; z-index:9992; }
		&.go { background-position: left -352px; top: 150px; left: 186px; width: 50px; height: 55px; z-index:9991; }
		&.ma { background-position: left -412px; top: 70px; left: 223px; width: 51px; height: 68px; z-index:9991; }
		&.mt { background-position: left -610px; top: 114px; left: 127px; width: 84px; height: 76px; }
		&.ms { background-position: left -553px; top: 186px; left: 150px; width: 51px; height: 52px; }
		&.mg { background-position: left -485px; top: 168px; left: 204px; width: 79px; height: 63px; }
		&.pa { background-position: left -691px; top: 39px; left: 146px; width: 96px; height: 94px; }
		&.pb { background-position: left -790px; top: 112px; left: 297px; width: 29px; height: 16px; z-index:9991; }
		&.pr { background-position: left -899px; top: 226px; left: 176px; width: 43px; height: 31px; }
		&.pe { background-position: left -811px; top: 119px; left: 277px; width: 48px; height: 19px; }
		&.pi { background-position: left -835px; top: 84px; left: 241px; width: 41px; height: 59px; }
		&.rj { background-position: left -935px; top: 219px; left: 243px; width: 28px; height: 16px; }
		&.rn { background-position: left -956px; top: 103px; left: 298px; width: 27px; height: 16px; }
		&.rs { background-position: left -1080px; top: 260px; left: 156px; width: 56px; height: 49px; }
		&.ro { background-position: left -977px; top: 117px; left: 88px; width: 49px; height: 44px; }
		&.rr { background-position: left -1026px; top: 18px; left: 103px; width: 43px; height: 49px; }
		&.sc { background-position: left -1134px; top: 252px; left: 181px; width: 35px; height: 24px; }
		&.sp { background-position: left -1183px; top: 205px; left: 189px; width: 55px; height: 41px; }
		&.se { background-position: left -1163px; top: 137px; left: 298px; width: 13px; height: 15px; }
		&.to { background-position: left -1229px; top: 99px; left: 207px; width: 34px; height: 62px; }
		&.df { background-position: left -1296px; top: 176px; left: 221px; width: 6px; height: 4px; z-index:9999; }
	}
}