@import url('http://fonts.googleapis.com/css?family=Overlock:700italic');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .hide-tablet {
    display: none !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .hide-mobile {
    display: none !important;
  }
}
html body .sustentabilidade-index {
  padding-bottom: 170px;
}
@media only screen and (min-width: 0px) and (max-width: 1023px) {
  html body .sustentabilidade-index {
    padding-bottom: 40px;
  }
}
html body .sustentabilidade-index .pure-u-1-2 a {
  outline: 1px #4ecbdc solid;
  display: block;
  padding: 5px;
  position: relative;
}
@media only screen and (min-width: 0px) and (max-width: 1023px) {
  html body .sustentabilidade-index .pure-u-1-2 a .in-pad {
    padding: 5px;
  }
}
html body .sustentabilidade-index .pure-u-1-2 a:hover h2 {
  background: url('rgba.php/rgba(0,88,122,.8)');
  background: rgba(0, 88, 122, 0.8);
  color: #4ecbdc;
}
html body .sustentabilidade-index .pure-u-1-2 a img {
  display: block;
  margin: 0 auto;
  outline: 1px #4ecbdc solid;
}
html body .sustentabilidade-index .pure-u-1-2 a h2 {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: absolute;
  bottom: 5px;
  left: 5px;
  height: 50px;
  line-height: 50px;
  background: url('rgba.php/rgba(78,203,220,.8)');
  background: rgba(78, 203, 220, 0.8);
  width: 235px;
  color: #00587a;
  text-indent: 20px;
  text-transform: uppercase;
  font-family: 'Overlock', cursive;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
}
@media only screen and (min-width: 0px) and (max-width: 1023px) {
  html body .sustentabilidade-index .pure-u-1-2 a h2 {
    text-indent: 10px;
    font-size: 13px;
    right: 5px;
    width: auto !important;
  }
}
html body .sustentabilidade-index .pure-u-1-2 a h2.large {
  width: 480px;
}
html body .detalhes .imagem {
  width: 400px;
  outline: 1px #4ecbdc solid;
  display: block;
  padding: 5px;
  position: relative;
}
html body .detalhes .imagem img {
  max-width: 400px;
  display: block;
  margin: 0 auto;
  outline: 1px #4ecbdc solid;
}
html body .detalhes .imagem h2 {
  position: absolute;
  bottom: 5px;
  left: 5px;
  height: 50px;
  line-height: 50px;
  background: url('rgba.php/rgba(78,203,220,.8)');
  background: rgba(78, 203, 220, 0.8);
  width: 400px;
  color: #00587a;
  text-indent: 20px;
  text-transform: uppercase;
  font-family: 'Overlock', cursive;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .detalhes .imagem {
    padding: 0;
    height: 60px;
    width: 100%;
    margin-bottom: 20px;
  }
  html body .detalhes .imagem .in-pad {
    padding: 5px;
  }
  html body .detalhes .imagem img {
    display: none;
    max-width: 100%;
  }
  html body .detalhes .imagem h2 {
    right: 5px;
    width: auto;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  html body .detalhes .imagem {
    max-width: 90%;
  }
  html body .detalhes .imagem img {
    max-width: 100%;
  }
  html body .detalhes .imagem h2 {
    right: 5px;
    width: auto;
  }
}
html body .detalhes .texto {
  color: #00587a;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 140%;
}
html body .detalhes .texto img {
  max-width: 490px;
}
html body .btn-voltar-sustentabilidade {
  color: #fff;
  height: 30px;
  padding: 0 10px;
  margin-top: 15px;
  line-height: 30px;
  background: #4ecbdc;
  text-transform: uppercase;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Bliss2-Bold', 'Verdana', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  behavior: url('PIE.htc');
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .btn-voltar-sustentabilidade {
    margin-left: 5px;
  }
}
html body .btn-voltar-sustentabilidade:active,
html body .btn-voltar-sustentabilidade:visited {
  color: #fff;
}
html body .btn-voltar-sustentabilidade:hover {
  color: #00587a;
}
html body .saibaMais {
  margin-top: 70px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .saibaMais {
    margin-top: 0;
  }
}
html body .saibaMais h3 {
  background: #4ecbdc;
  color: #fff;
  font-family: 'Overlock', cursive;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  padding-left: 5px;
  height: 27px;
  line-height: 27px;
}
html body .saibaMais a {
  outline: 1px #4ecbdc solid;
  display: block;
  padding: 5px;
  position: relative;
}
html body .saibaMais a:hover h2 {
  background: url('rgba.php/rgba(0,88,122,.8)');
  background: rgba(0, 88, 122, 0.8);
  color: #4ecbdc;
}
html body .saibaMais a img {
  display: block;
  margin: 0 auto;
  outline: 1px #4ecbdc solid;
}
html body .saibaMais a h2 {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: absolute;
  bottom: 5px;
  left: 5px;
  height: 50px;
  line-height: 50px;
  background: url('rgba.php/rgba(78,203,220,.8)');
  background: rgba(78, 203, 220, 0.8);
  width: 235px;
  color: #00587a;
  text-indent: 20px;
  text-transform: uppercase;
  font-family: 'Overlock', cursive;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
}
html body .saibaMais a h2.large {
  width: 480px;
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  html body .saibaMais a .in-pad {
    padding: 5px;
  }
  html body .saibaMais a h2 {
    font-size: 13px;
    right: 5px;
    width: auto;
  }
}
