@import 'vars.less';

html{
	body{
		.sustentabilidade-index{
			padding-bottom: 170px;
			@media @mobile_e_tablet{
				padding-bottom:40px;
			}
			.pure-u-1-2{
				a{
					outline:1px @ciano solid;
					display: block;
					padding:5px;
					position:relative;
					@media @mobile_e_tablet{
						.in-pad{
							padding:5px;
						}
					}
					&:active, &:visited{}
					&:hover{
						h2{
							background:url('rgba.php/rgba(0,88,122,.8)');
							background:rgba(0,88,122,.8);
							color:@ciano;
						}
					}
					img{
						display: block;
						margin:0 auto;
						outline:1px @ciano solid;
					}
					h2{
						.transition;
						position:absolute;
						bottom:5px;
						left:5px;
						height: 50px;
						line-height: 50px;
						background:url('rgba.php/rgba(78,203,220,.8)');
						background:rgba(78,203,220,.8);
						width:235px;
						color:@marinho;
						text-indent: 20px;
						text-transform: uppercase;
						.cronos(18px);
						@media @mobile_e_tablet{
							text-indent: 10px;
							font-size:13px;
							right:5px;
							width:auto !important;
						}
						&.large{
							width:480px;
						}
					}
				}
			}
		}
		.detalhes{
			.imagem{
				width:400px;
				outline:1px @ciano solid;
				display: block;
				padding:5px;
				position:relative;
				img{
					max-width: 400px;
					display: block;
					margin:0 auto;
					outline:1px @ciano solid;
				}
				h2{
					position:absolute;
					bottom:5px;
					left:5px;
					height: 50px;
					line-height: 50px;
					background:url('rgba.php/rgba(78,203,220,.8)');
					background:rgba(78,203,220,.8);
					width:400px;
					color:@marinho;
					text-indent: 20px;
					text-transform: uppercase;
					.cronos(18px);					
				}
				@media @mobile{
					padding:0;
					height:60px;
					width:100%;
					margin-bottom: 20px;
					.in-pad{
						padding:5px;
					}
					img{
						display:none;
						max-width:100%;
					}
					h2{
						right:5px;
						width:auto;
					}
				}
				@media @tablet{
					max-width:90%;
					img{
						max-width:100%;
					}
					h2{
						right:5px;
						width:auto;
					}
				}
			}
			.texto{
				color:@marinho;
				.verdana(12px);
				line-height: 140%;
				img{
					max-width: 490px;					
				}
			}
		}
		.btn-voltar-sustentabilidade{
			color:#fff;
			height:30px;
			padding:0 10px;
			margin-top:15px;
			line-height:30px;
			background:@ciano;
			text-transform: uppercase;
			@media @mobile{
				margin-left:5px;
			}
			.inline;
			.transition;
			.bliss(16px);
			.arredondada(7px);
			&:active, &:visited{color:#fff;}
			&:hover{color:@marinho;}
		}
		.saibaMais{
			margin-top:70px;
			@media @mobile{
				margin-top: 0;
			}
			h3{
				background: @ciano;
				color:#fff;
				.cronos(16px);
				padding-left: 5px;
				height: 27px;
				line-height: 27px;
			}
			a{
				outline:1px @ciano solid;
				display: block;
				padding:5px;
				position:relative;
				&:active, &:visited{}
				&:hover{
					h2{
						background:url('rgba.php/rgba(0,88,122,.8)');
						background:rgba(0,88,122,.8);
						color:@ciano;
					}
				}
				img{
					display: block;
					margin:0 auto;
					outline:1px @ciano solid;
				}
				h2{
					.transition;
					position:absolute;
					bottom:5px;
					left:5px;
					height: 50px;
					line-height: 50px;
					background:url('rgba.php/rgba(78,203,220,.8)');
					background:rgba(78,203,220,.8);
					width:235px;
					color:@marinho;
					text-indent: 20px;
					text-transform: uppercase;
					.cronos(18px);
					&.large{
						width:480px;
					}
				}
				@media @tablet{
					.in-pad{
						padding:5px;
					}
					h2{
						font-size:13px;
						right:5px;
						width:auto;
					}
				}
			}
		}
	}
}

