@import url('http://fonts.googleapis.com/css?family=Overlock:700italic');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .hide-tablet {
    display: none !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .hide-mobile {
    display: none !important;
  }
}
html body .intro p {
  margin-bottom: 15px;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #00587a;
  line-height: 170%;
  width: 250px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body .intro p {
    padding-left: 10px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body form {
    padding: 0 10px;
  }
}
html body form .success {
  background: #dff0d8;
  text-align: center;
  padding: 7px;
  font-family: 'Verdana', sans-serif;
  font-size: 10px;
  font-weight: normal;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  behavior: url('PIE.htc');
  width: 236px;
  margin-bottom: 5px;
}
html body form .error {
  background: #f2dede;
  text-align: center;
  padding: 7px;
  font-family: 'Verdana', sans-serif;
  font-size: 10px;
  font-weight: normal;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  behavior: url('PIE.htc');
  width: 236px;
  margin-bottom: 5px;
}
html body form input[type="text"],
html body form input[type="email"] {
  width: 230px;
  padding: 0 10px;
  line-height: 30px;
  height: 30px;
  color: #00587a;
  border: 1px #4ecbdc solid;
  margin-bottom: 3px;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  behavior: url('PIE.htc');
}
html body form input[type="text"]::-webkit-input-placeholder,
html body form input[type="email"]::-webkit-input-placeholder {
  color: #00587a;
}
html body form input[type="text"]:-moz-placeholder,
html body form input[type="email"]:-moz-placeholder {
  color: #00587a;
}
html body form input[type="text"]::-moz-placeholder,
html body form input[type="email"]::-moz-placeholder {
  color: #00587a;
}
html body form input[type="text"]:-ms-input-placeholder,
html body form input[type="email"]:-ms-input-placeholder {
  color: #00587a;
}
html body form input[type="submit"] {
  height: 30px;
  line-height: 30px;
  background: #4ecbdc;
  color: #00587a;
  border: 0;
  width: 250px;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px #4ecbdc solid;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  behavior: url('PIE.htc');
  font-family: 'Bliss2-Bold', 'Verdana', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body form input[type="submit"]:hover {
  background: #00587a;
  color: #4ecbdc;
}
html body form label {
  display: block;
  width: 250px;
  line-height: 30px;
  height: 30px;
  border: 1px #4ecbdc solid;
  margin-bottom: 3px;
  color: #00587a;
  position: relative;
  cursor: pointer;
  background: url('../images/layout/seta-fakefile.png') #ffffff right center no-repeat;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  behavior: url('PIE.htc');
}
html body form label .fake-file {
  width: 200px;
  cursor: pointer;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  behavior: url('PIE.htc');
  z-index: 999;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
html body form label .fake-file span {
  white-space: nowrap;
  padding-left: 10px;
}
html body form label input[type="file"] {
  margin: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
  max-width: 250px;
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
html body small {
  font-family: 'Verdana', sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #00587a;
  line-height: 130%;
  font-style: italic;
  width: 252px;
  display: block;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body small {
    padding-left: 10px;
  }
}
html body .lista-trabalhos-mobile {
  margin-top: 15px;
  font-size: 0;
}
html body .lista-trabalhos-mobile .pure-u-1-2 {
  position: relative;
}
html body .lista-trabalhos-mobile .pure-u-1-2 a {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .lista-trabalhos-mobile .pure-u-1-2 a img {
  border: 1px #4ecbdc solid;
  max-width: 100%;
  max-height: 100%;
}
html body .lista-trabalhos {
  padding-left: 65px;
}
html body .lista-trabalhos a {
  width: 202px;
  height: 202px;
  position: relative;
  margin-bottom: 4px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .lista-trabalhos a:hover .overlay {
  opacity: 1;
}
html body .lista-trabalhos a img {
  border: 1px #4ecbdc solid;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
html body .lista-trabalhos a .overlay {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 0;
  background: #4ecbdc;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
html body .lista-trabalhos a .overlay .nome {
  color: #fff;
  font-family: 'Verdana', sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 15px;
}
html body .lista-trabalhos a .overlay .titulo-trabalho {
  color: #fff;
  font-family: 'Verdana', sans-serif;
  font-size: 11px;
  font-weight: normal;
  padding-top: 3px;
  padding-left: 15px;
}
html body ul.pagination {
  margin-top: 30px;
  margin-left: 65px;
  display: block;
  border: 1px #4ecbdc solid;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  html body ul.pagination {
    margin-left: 0px;
  }
}
html body ul.pagination li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html body ul.pagination li:first-child {
  border-right: 1px #4ecbdc solid;
  float: left;
}
html body ul.pagination li:last-child {
  border-left: 1px #4ecbdc solid;
  float: right;
}
html body ul.pagination li.disabled span {
  display: block;
  width: 20px;
  height: 20px;
  color: #CCC;
}
html body ul.pagination li.active span {
  display: block;
  width: 20px;
  height: 20px;
  color: #00587a;
}
html body ul.pagination li a {
  width: 20px;
  height: 20px;
  display: block;
  color: #4ecbdc;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body ul.pagination li a:active,
html body ul.pagination li a:visited {
  color: #4ecbdc;
}
html body ul.pagination li a:hover {
  background-color: #4ecbdc;
  color: #00587a;
}
