@import 'vars.less';

html{
	body{
		.intro{
			p{
				margin-bottom: 15px;
				.verdana(12px);
				color:@marinho;
				line-height: 170%;
				width: 250px;
				@media @mobile{
					padding-left:10px;
				}
			}
		}
		form{
			@media @mobile{
				padding:0 10px;
			}
			.success{
				background:#dff0d8;
				text-align: center;
				padding:7px;
				.verdana(10px);
				.arredondada(7px);
				width:236px;
				margin-bottom:5px;
			}
			.error{
				background:#f2dede;
				text-align: center;
				padding:7px;
				.verdana(10px);
				.arredondada(7px);
				width:236px;
				margin-bottom:5px;
			}
			input[type="text"],
			input[type="email"]{
				width:230px;
				padding:0 10px;
				line-height: 30px;
				height: 30px;
				color:@marinho;
				border:1px @ciano solid;
				margin-bottom:3px;
				.placeholder(@marinho);
				.verdana(12px);
				.arredondada(7px);
			}
			input[type="submit"]{
				height: 30px;
				line-height: 30px;
				background: @ciano;
				color:@marinho;
				border:0;
				width:250px;
				display:block;
				margin-top:20px;
				margin-bottom:20px;
				cursor:pointer;
				border:1px @ciano solid;
				.arredondada(7px);
				.bliss(16px);
				.transition;
				&:hover{
					background:@marinho;
					color:@ciano;
				}
			}
			label{
				display:block;
				width:250px;
				line-height: 30px;
				height: 30px;
				border:1px @ciano solid;
				margin-bottom:3px;
				color:@marinho;
				position:relative;
				cursor:pointer;
				background:url('../images/layout/seta-fakefile.png') #fff right center no-repeat;
				.verdana(12px);
				.arredondada(7px);
				.fake-file{
					width: 200px;
					cursor:pointer;
					.arredondada(7px);
					z-index:999;
					background:#fff;
					position: absolute;
					top:0;
					left:0;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					span{
						white-space: nowrap;
						padding-left:10px;
					}
				}
				input[type="file"]{
					margin:0;
					border:0;
					padding:0;
					cursor:pointer;
					max-width: 250px;
					opacity:0;
					z-index:1;
					position: absolute;
					top:0;
					left:0;
				}
			}
		}
		small{
			.verdana(10px);
			color:@marinho;
			line-height: 130%;
			font-style: italic;
			width:252px;
			display: block;
			@media @mobile{
				padding-left:10px;
			}
		}
		.lista-trabalhos-mobile{
			margin-top:15px;
			font-size:0;
			.pure-u-1-2{
				position:relative;
				a{
					display:block;
					width:100%;
					height:100%;
					img{
						border:1px @ciano solid;
						max-width:100%;
						max-height:100%;
					}
					.transition;
					&:active, &:visited{}
					&:hover{}
				}
			}
		}
		.lista-trabalhos{
			padding-left: 65px;
			a{
				width: 202px;
				height: 202px;
				position: relative;
				margin-bottom:4px;
				.inline;
				&:active, &:visited{}
				&:hover{
					.overlay{
						opacity:1;
					}
				}
				.transition;
				img{
					border:1px @ciano solid;
					display:block;
					position: absolute;
					top:0;
					left:0;
					z-index:0;					
				}
				.overlay{
					.transition;
					opacity:0;
					background: @ciano;
					z-index:1;
					position:absolute;
					top:0;
					left:0;
					width: 100%;
					height:100%;
					.nome{
						color:#fff;
						.verdana(13px, bold);
						padding-top:15px;
						padding-left:15px;
					}
					.titulo-trabalho{
						color:#fff;
						.verdana(11px);
						padding-top:3px;
						padding-left:15px;
					}
				}
			}
		}
		ul.pagination{
			margin-top:30px;
			margin-left:65px;
			@media @mobile{
				margin-left:0px;
			}
			display:block;
			border:1px @ciano solid;
			height:20px;
			line-height:20px;
			text-align:center;
			li{
				&:first-child{					
					border-right:1px @ciano solid;
					float:left;					
				}
				&:last-child{
					border-left:1px @ciano solid;
					float:right;					
				}
				.inline;
				.verdana(12px);
				&.disabled{
					span{
						display:block;
						width:20px;
						height:20px;
						color:#CCC;
					}
				}
				&.active{
					span{
						display:block;
						width:20px;
						height:20px;
						color:@marinho;
					}
				}
				a{
					width:20px;
					height:20px;
					display:block;
					color:@ciano;
					.transition;
					&:active, &:visited{color:@ciano;}
					&:hover{
						background-color:@ciano;
						color:@marinho;
					}
				}
			}
		}
	}
}
