@import url('http://fonts.googleapis.com/css?family=Overlock:700italic');

@marinho:#00587A;
@ciano:#4ECBDC;
@azulClaro:#A6E5EE;

@mobile:    ~"only screen and (min-width: 0px) and (max-width: 480px)";
@tablet:    ~"only screen and (min-width: 481px) and (max-width: 1023px)";
@desktop:   ~"only screen and (min-width: 1024px)";

@mobile_e_tablet:  ~"only screen and (min-width: 0px) and (max-width: 1023px)";
@tablet_e_desktop: ~"only screen and (min-width: 481px)";

.centralizar(@pad:0){
	@media @mobile{
		max-width:400px;
	}
	@media @tablet{
		max-width:740px;
	}
	@media @desktop{
		max-width:980px;
	}
	width:100%;
	padding:0 !important;
	margin:0 auto;
}
.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}

.verdana(@fsize:12px, @fweight:normal){
	font-family: 'Verdana', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.bliss(@fsize:12px, @fweight:normal){
	font-family: 'Bliss2-Bold', 'Verdana', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.cronos(@fsize:12px, @fweight:normal){
	font-family: 'Overlock', cursive;
	font-size:@fsize;
	font-weight:@fweight;
	font-style: italic;
}

.arredondada(@raio:10px){
	-webkit-border-radius:@raio;
	-moz-border-radius:@raio;
	-o-border-radius:@raio;
	border-radius:@raio;
	behavior:url('PIE.htc');
}
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;
   -moz-transition:@prop @dur @type;
   -o-transition:@prop @dur @type;
   transition:@prop @dur @type;
}
.superTransition(@prop:all, @dur:.8s, @type:cubic-bezier(0.680, -0.550, 0.265, 1.550)){
	-webkit-transition:@prop @dur @type;
   -moz-transition:@prop @dur @type;
   -o-transition:@prop @dur @type;
   transition:@prop @dur @type;
}
.aviso{ color: #9F6000; background-color: #FEEFB3; border:2px #9F6000 solid; }
.sucesso{ border:2px #C6D880 solid; background-color:#E6EFC2; color:#264409; }
.falha{ border:2px #D8000C solid; color:#D8000C; background-color:#FFBABA; }
.offscreen{
	display:block;
	text-indent:-999999999px;
}
.clear{ clear: both; }
.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}
.escondido{display:none;}
.rgba(@r:0,@g:0,@b:0,@a:1){
	background:url('rgba.php/rgba(@r,@g,@b,@a)');
	background:rgba(@r,@g,@b,@a);
}

.hide-desktop{
	@media @desktop{
		display:none !important;
	}
}
.hide-tablet{
	@media @tablet{
		display:none !important;
	}
}
.hide-mobile{
	@media @mobile{
		display:none !important;
	}
}
